@model ProfileViewModel

@{
    ViewData["Title"] = Model.Name + " - Edit profile";
}

<div class="col-12">
    <form id="frmProfileSave" asp-controller="Profile" asp-action="Save" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="Type" />
        <input type="hidden" asp-for="ProfileImageUrl" />
        <input type="hidden" asp-for="CreateDate" />
        <input type="hidden" asp-for="CoverImageUrl" />

        <div class="box box-widget user-profile">
            <div class="user-profile-header bg-dark" id="imgCoverImage" style="background-image: url('@Model.CoverImageUrl'); background-size:cover;">
                <div class="overlay dark">
                    <div class="user-profile-image">
                        <div class="avatar-wrapper">
                            <label class="label" data-toggle="tooltip" title="" data-original-title="@SharedLocalizer["Change the Avatar"] (512x512)">
                                <img class="rounded-circle" id="imgAvatar" src="@Model.ProfileImageUrl" alt="User Avatar">
                                <input id="avatar" name="avatar" type="file" class="sr-only">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="user-profile-cover-topright">
                    <label class="label btn btn-default bg-transparent" data-toggle="tooltip" title="" data-original-title="@SharedLocalizer["Change Cover Image"] (1110x300)">
                        @SharedLocalizer["Change Cover Image"]
                        <input id="coverImage" name="coverImage" type="file" class="sr-only">
                    </label>
                </div>
            </div>
            <div class="box-footer square-top bg-white">
                <div class="row">
                    <div class="col-12">
                        <div class="box-header">
                            <h3 class="card-title">@SharedLocalizer["Edit my awesomeness"]</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body p-0 no-gutters">
                            <!-- Nav tabs -->
                            <div class="vtabs customvtab col-12">
                                <ul class="nav nav-tabs tabs-vertical text-capitalize" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active show text-center" data-toggle="tab" href="#basicinfotab" role="tab" aria-selected="true">
                                            <span class="d-sm-none"><i class="fas fa-fw fa-home" aria-hidden="true"></i></span>
                                            <span class="d-none d-sm-block">@SharedLocalizer["basic"]</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-center" data-toggle="tab" href="#externaltab" role="tab" aria-selected="false">
                                            <span class="d-sm-none"><i class="fas fa-fw fa-project-diagram" aria-hidden="true"></i></span>
                                            <span class="d-none d-sm-block">@SharedLocalizer["external"]</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">

                                    <div class="tab-pane active show" id="basicinfotab" role="tabpanel">

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="Name"></label>
                                                <input asp-for="Name" class="form-control" placeholder="@SharedLocalizer["Type it, here!"]">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Location"></label>
                                                <input asp-for="Location" class="form-control" placeholder="@SharedLocalizer["Where are you from?"]">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Motto"></label>
                                                <input asp-for="Motto" class="form-control" placeholder="@SharedLocalizer["Any punchline you like?"]">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="StudioName"></label>
                                                <input asp-for="StudioName" class="form-control" placeholder="@SharedLocalizer["What your is studio is called?"]">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Bio"></label>
                                                <textarea asp-for="Bio" class="form-control" placeholder="@SharedLocalizer["Tell us who you are."]"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="externaltab" role="tabpanel">
                                        <p>
                                            @SharedLocalizer["Fill in just the external links you want to show on your profile. The ones you leave empty will not be shown."]
                                        </p>

                                        @for (int i = 0; i < Model.ExternalLinks.Count; i++)
                                        {
                                            var externalLink = Model.ExternalLinks.ElementAt(i);

                                            <div class="bordered mb-1 p-2 p-md-3 col-12 col-12">
                                                <input type="hidden" asp-for="ExternalLinks[i].Type" />
                                                <input type="hidden" asp-for="ExternalLinks[i].Provider" />
                                                <div class="row">
                                                    <div class="col-12 col-sm-2 text-center">
                                                        @if (externalLink.Type == ExternalLinkType.GameDev)
                                                        {
                                                            <span class="externallink-icon">
                                                                <img src="@String.Format("/images/otherprofiles/{0}32.png", externalLink.Provider.ToString().ToLower())" alt="@externalLink.Provider" />
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="externallink-icon btn bg-dark btn-social-icon text-white">
                                                                <i class="@externalLink.IconClass" aria-hidden="true"></i>
                                                            </span>
                                                        }
                                                    </div>
                                                    <div class="col-12 col-sm-10">
                                                        <label>@externalLink.Display</label>
                                                        <div class="input-group input-group-sm">
                                                            <input asp-for="ExternalLinks[i].Value" class="form-control" placeholder="@SharedLocalizer["Type your {0} handler here.", externalLink.Display]" />
                                                            <div class="input-group-append">
                                                                <btn class="btnClearExternalLink btn form btn-warning input-group-text">@SharedLocalizer["clear"]</btn>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 offset-sm-6 col-md-4 offset-md-8">
                        <button type="button" id="btnProfileSave" class="btn btn-lg btn-primary btn-block"><i class="fas fa-save" aria-hidden="true"></i> @SharedLocalizer["Save my profile"]</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modalCropAvatar" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">@SharedLocalizer["Crop the image"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container p-10">
                    <img id="avatarCropArea" src="@Model.ProfileImageUrl" class="img-fluid" alt="Crop Avatar">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@SharedLocalizer["Cancel"]</button>
                <button type="button" class="btn btn-primary" id="cropAvatar">@SharedLocalizer["Crop"]</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCropCoverImage" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">@SharedLocalizer["Crop the image"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container p-10">
                    <img id="coverImageCropArea" src="@Model.CoverImageUrl" class="img-fluid" alt="Crop Cover Image">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@SharedLocalizer["Cancel"]</button>
                <button type="button" class="btn btn-primary" id="cropCoverImage">@SharedLocalizer["Crop"]</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/profiledetails.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/profiledetails.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/lib/cropperjs/cropper.css" />
    <style>
        .avatar-wrapper label {
            margin-bottom: 0px;
        }

        .externallink-icon {
            border-radius: 50%;
        }

            .externallink-icon img {
                width: 32px;
                height: 32px;
            }
    </style>
}
@section Scripts {
    <script src="~/lib/cropperjs/cropper.js"></script>

    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="~/js/profile/profileedit.js"></script>
}