@model JobPositionViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Description;
    ViewData["Url"] = ViewBag.BaseUrl + Url.Action("details", "jobposition", new { area = "work", id = Model.Id });
    ViewData["OgImage"] = ViewBag.BaseUrl + "/images/og/ogwork.png";
    ViewData["OgImageWidth"] = 1200;
    ViewData["OgImageHeight"] = 630;

    var canInteract = User.Identity.IsAuthenticated;
}

@section ComponentStyles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/jobposition.css">
        <link href="~/lib/bootstrap-star-rating/themes/krajee-fa/theme.css" media="all" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/lib/bootstrap-star-rating/css/star-rating.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-star-rating/css/star-rating.min.css">
        <link href="~/lib/bootstrap-star-rating/themes/krajee-fas/" media="all" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/css/jobposition.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
        <script src="~/lib/bootstrap-star-rating/themes/krajee-fas/theme.js"></script>
        <script src="~/js/jobposition/jobposition.js"></script>
        <script src="~/js/shared/contentactions.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap-star-rating/js/star-rating.min.js"></script>
        <script src="~/lib/bootstrap-star-rating/themes/krajee-fa/theme.min.js"></script>
        <script src="~/js/jobposition/jobposition.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="row box bg-white no-gutters">
    <div class="col-lg-8">
        <h1 class="sr-only">
            @SharedLocalizer["job position details"]
        </h1>
        <input type="hidden" asp-for="Id" />
        <div id="jobpositioncontainer" class="mx-0">
            <input type="hidden" id="caninteract" value="@canInteract.ToString().ToLower()" />
            <div data-id="@Model.Id">
                <div class="box-header with-border">
                    <div class="float-left mr-2">
                        <a asp-area="work" asp-controller="jobposition" asp-action="index" class="btn btn-lg btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                    </div>
                    <div class="float-left">
                        <h2 class="card-title">@ViewData["Title"]</h2>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body p-0 p-md-2">
                    <div class="jobposition-item" data-id="@Model.Id" data-currentuserapplied="@Model.CurrentUserApplied">
                        <div class="jobposition-details">
                            <div class="border mb-3 p-2 bg-light">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="col-form-label">@SharedLocalizer["Job Reference"]</label>: <span>@Model.Id</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-md-4 text-capitalize">
                                        <div class="form-group">
                                            <label asp-for="Location" class="col-form-label"></label>
                                            <p>@(Model.Remote ? SharedLocalizer["remote"] : Model.Location)</p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Duration" class="col-form-label"></label>
                                            <p>@SharedLocalizer[Model.Duration.ToDisplayName()]</p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="PositionType" class="col-form-label"></label>
                                            <p>@SharedLocalizer[Model.PositionType.ToDisplayName()]</p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="ExperienceLevel" class="col-form-label"></label>
                                            <p>@SharedLocalizer[Model.ExperienceLevel.ToDisplayName()]</p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Salary" class="col-form-label"></label>
                                            <p>@(Model.Salary.HasValue ? "USD " + Model.Salary : SharedLocalizer["Not Informed"])</p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4 text-capitalize">
                                        <div class="form-group">
                                            <label asp-for="PaymentFrequency" class="col-form-label"></label>
                                            <p>@SharedLocalizer[Model.PaymentFrequency.ToDisplayName().ToLower()]</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="col-12">
                                            <label class="col-form-label">@SharedLocalizer["Benefits"]</label>
                                        </div>
                                        @if (Model.Benefits == null || Model.Benefits.All(x => !x.Available))
                                        {
                                            <span>@SharedLocalizer[JobPositionBenefit.NotInformed.ToUiInfo().Display]</span>
                                        }
                                        else
                                        {
                                            <div class="row mx-2">
                                                @foreach (var benefit in Model.Benefits)
                                                {
                                                    if (benefit.Available)
                                                    {
                                                        <div class="col-12 col-md-6 mb-1 p-1 border bg-light">
                                                            <span class="btn border p-1 rounded-circle btn-benefit-icon-sm bg-label" title="@benefit.Benefit.ToUiInfo().Display"><i class="fas fa-@(benefit.Benefit.ToUiInfo().Class)" aria-hidden="true"></i></span>
                                                            <span>@benefit.Benefit.ToUiInfo().Display</span>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <p>@Model.Description</p>
                            </div>

                            <div class="col-12">
                                <span class="badge badge-status badge-@(Model.Status.ToString().ToLower()) p-2">@Model.StatusLocalized</span>
                                <span class="badge badge-status badge-dark p-2">@SharedLocalizer[Model.Language.ToDisplayName()]</span>
                            </div>
                        </div>
                        <div class="author-details mt-2">
                            <div class="col-12">
                                <span>@SharedLocalizer["This position was posted by"]:</span>
                                <div class="user-block">
                                    <a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@Model.UserId">
                                        <img class="rounded-circle" src="@Model.AuthorPicture" alt="This is @Model.AuthorName">
                                    </a>
                                    <span class="username"><a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@Model.UserId">@Model.AuthorName</a></span>

                                    <a asp-area="" asp-controller="content" asp-action="details" asp-route-id="@Model.Id" class="contenturl">
                                        <span class="description">@Model.CreateDate.ToString()</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        @if (Model.Origin == JobPositionOrigin.Internal)
                        {
                            <div class="col-12 text-lowercase text-right">
                                <span class="text-muted"><span class="comment-count">@Model.ApplicantCount</span> @(Model.ApplicantCount == 1 ? SharedLocalizer["applicant"] : SharedLocalizer["applicants"])</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="col-12 mt-2">
            @if (!canInteract)
            {
                <div class="alert-info p-2">
                    @SharedLocalizer["You must be logged in to post and apply to job positions."]
                </div>
            }
            else
            {
                @if (Model.Origin == JobPositionOrigin.Internal && Model.Permissions.CanEdit)
                {
                    if (Model.ClosingDate.HasValue)
                    {
                        <div class="alert alert-info">@SharedLocalizer["Accepting applications until {0}", Model.ClosingDate.Value.ToShortDateString()]</div>
                    }

                    <partial name="_ListApplicants" model="Model.Applicants" />
                }
                else
                {
                    if (Model.CurrentUserApplied)
                    {
                        <div class="alert alert-info">@SharedLocalizer["You have applied to this Job Position!"]</div>
                    }
                    else
                    {
                        @if (Model.ClosingDate.HasValue)
                        {
                            if (Model.ClosingDate.Value.Date > DateTime.Today)
                            {
                                <div class="alert alert-info">@SharedLocalizer["Accepting applications until {0}", Model.ClosingDate.Value.ToShortDateString()]</div>
                            }
                            else if (Model.ClosingDate.Value.Date == DateTime.Today)
                            {
                                <div class="alert alert-warning">@SharedLocalizer["Today is the last day to apply for this position!"]</div>
                            }
                            else
                            {
                                <div class="alert alert-danger">@SharedLocalizer["Application phase is closed! Don't be sad, apply for another job position!"]</div>
                            }
                        }
                        else
                        {
                            <div class="alert alert-success">@SharedLocalizer["Accepting applications"]</div>
                        }

                        if (Model.Origin == JobPositionOrigin.External && !String.IsNullOrWhiteSpace(Model.Url))
                        {
                            <a href="@Model.Url" target="_blank" class="btn btn-primary btn-lg btn-block">@SharedLocalizer["Apply on the website"]</a>
                        }
                        else
                        {
                            if (Model.Permissions.CanConnect)
                            {
                                <button type="button" id="btnApply" class="btn btn-success btn-lg btn-block" data-url="@Url.Action("Apply", "JobPosition", new { area = "Work", jobPositionId = Model.Id })">@SharedLocalizer["Apply"]</button>
                            }
                        }
                    }
                }

            }
        </div>
    </div>
</div>