
@{
    ViewData["Title"] = SharedLocalizer["Work"];
    ViewData["Description"] = SharedLocalizer["Create and apply to job positions."];
    ViewData["ControlSidebarTitle"] = ViewData["Title"];
    ViewData["ControlSidebarUrl"] = Url.Action("Index", "JobPosition", new { area = "Work" });

    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;

    if (isAjax)
    {
        Layout = null;
    }
}

@section ComponentStyles {

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/select2/css/select2.min.css">
        <link rel="stylesheet" href="~/css/switch.css">
        <link rel="stylesheet" href="~/css/jobposition.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/jobposition.min.css" asp-append-version="true">
    </environment>
}


@section Scripts {
    <environment include="Development">
        <script src="~/js/jobposition/jobposition.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/jobposition/jobposition.min.js" asp-append-version="true"></script>
    </environment>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@if (canInteract)
{
    @section ControlSidebar {
        <button id="btn-jobposition-new" class="btn btn-success btn-block"><i class="fa fa-plus" aria-hidden="true">&nbsp;</i>@SharedLocalizer["New Position"]</button>
        <button id="btn-jobposition-listmine" class="btn btn-secondary btn-block" data-url="@Url.Action("List", "JobPosition", new { area = "Work", employerId = ViewBag.CurrentUserId })"><i class="fas fa-briefcase" aria-hidden="true">&nbsp;</i>@SharedLocalizer["My Positions"]</button>
        <button id="btn-jobposition-myapplications" class="btn btn-warning btn-block"><i class="fa fa-plus" aria-hidden="true">&nbsp;</i>@SharedLocalizer["My Applications"]</button>
    }
}

<div id="jobpositioncontainer container" class="col-12">
    <input type="hidden" id="isajax" value="@isAjax.ToString().ToLower()" />
    <input type="hidden" id="caninteract" value="@canInteract.ToString().ToLower()" />

    <div id="containerdetails" class="row">

    </div>
    <div id="containerlist" class="row">
        <div class="col-lg-12 mb-2">
            <h1><i class="fa fa-briefcase" aria-hidden="true">&nbsp;</i>@ViewData["Title"]</h1>
        </div>
        <div class="col-lg-8 mb-5">
            <div id="divList"></div>
        </div>
        <div id="jobpositionsidebar" class="col-lg-4 no-gutters">
            <div class="jobposition-box alert-info p-2">
                @SharedLocalizer["Use the asterisk menu on the top right cornder to manage your job positions and applications."]
            </div>
            <div class="jobposition-box">
                <h3>@SharedLocalizer["Employer Panel"]</h3>
                <div class="row">
                    <div class="col-12">
                        <p>@SharedLocalizer["If you want to hire someone, create a new job position, describe the kind of professional that would fit your needs and just enjoy analysing the applicants."]</p>
                    </div>
                </div>
            </div>
            <div class="jobposition-box">
                <h3>@SharedLocalizer["Candidate Panel"]</h3>
                <div class="row">
                    <div class="col-12">
                        <p>@SharedLocalizer["Here you can see the job positions you have applied."]</p>
                    </div>
                    <div class="col-12">
                        <ul>
                            <li>position 1</li>
                            <li>position 2</li>
                            <li>position 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
