@model TranslationProjectViewModel

@{
    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;

    if (isAjax)
    {
        Layout = null;
    }

    ViewData["Title"] = SharedLocalizer["{0} Translation Project", (Model.Id == Guid.Empty ? "New" : "Edit")];

    var userGames = ViewBag.UserGames as List<SelectListItem>;

    var languages = Html.GetEnumSelectList<SupportedLanguage>().Where(x => x.Text != Model.PrimaryLanguage.ToString());
}

<div class="col-lg-12 mb-2 px-4">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="box bg-white">
    <form id="frmTranslationSave" asp-area="tools" asp-controller="translation" asp-action="save" method="post">
        <input type="hidden" id="caninteract" value="@canInteract.ToString().ToLower()" />
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="CreateDate" />

        <div class="box-header with-border">
            <div class="float-left mr-3">
                <a asp-area="tools" asp-controller="translation" asp-action="index" class="btn btn-lg btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            </div>
            <h3 class="card-title">@SharedLocalizer["You are {0} a Translation Project", (Model.Id == Guid.Empty ? "creating" : "editing")]</h3>
            <span class="card-subtitle">
                @SharedLocalizer["Tell us about the translation you need."]
            </span>
        </div>

        <div class="box-body p-0 px-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @if (Model.Id != Guid.Empty)
                        {
                            <label class="col-form-label text-capitalize">@SharedLocalizer["game"]</label>
                            <span class="col-form-label">
                                <i class="fas fa-exclamation-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="@SharedLocalizer["You can't change the game. If this game is not the correct one, you'll need to recreate the translation project."]" aria-hidden="true"></i>
                            </span>
                            <label class="form-control bg-gray">@Model.Game.Title</label>
                            <input type="hidden" asp-for="Game.Id" />
                        }
                        else
                        {
                            <label class="col-form-label text-capitalize">@SharedLocalizer["game"]</label>
                            <span class="col-form-label">
                                <i class="fas fa-exclamation-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="@SharedLocalizer["Select the game that you want help to translate.<br />You won't be able to change this later."]" aria-hidden="true"></i>
                            </span>
                            <select asp-for="Game.Id" asp-items="@userGames" class="form-control select2">
                                <option selected="selected" value="">@SharedLocalizer["Select"]</option>
                            </select>
                            <span asp-validation-for="Game.Id" class="text-danger"></span>
                        }
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="PrimaryLanguage" class="col-form-label"></label>

                        @if (Model.Id != Guid.Empty)
                        {
                            <span class="col-form-label">
                                <i class="fas fa-exclamation-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="@SharedLocalizer["You can't change the langage. If this language is not the correct one, you'll need to recreate the translation project."]" aria-hidden="true"></i>
                            </span>
                            <label class="form-control bg-gray">@SharedLocalizer[Model.PrimaryLanguage.ToDisplayName()]</label>
                            <input type="hidden" asp-for="PrimaryLanguage" />
                        }
                        else
                        {
                            <span class="col-form-label">
                                <i class="fas fa-exclamation-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="@SharedLocalizer["Select the language that you are writing your terms.<br />You won't be able to change this later."]" aria-hidden="true"></i>
                            </span>
                            <select asp-for="PrimaryLanguage" asp-items="Html.GetEnumSelectList<SupportedLanguage>()" class="form-control select2" data-placeholder="@SharedLocalizer["Set the primary language"]" tabindex="-1" aria-hidden="true"></select>
                            <span asp-validation-for="PrimaryLanguage" class="text-danger"></span>
                        }
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Introduction" class="col-form-label"></label>
                        <textarea asp-for="Introduction" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Introduction" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-12 col-lg-6 offset-lg-6 col-xl-4 offset-xl-8 mt-1">
                    <button type="button" id="btnSaveTranslation" class="btn btn-lg btn-primary btn-block" data-error-msg="<i class='fas fa-exclamation-circle' aria-hidden='true'></i> @SharedLocalizer["Something is missing!"]"><i class="fas fa-save" aria-hidden="true"></i> @SharedLocalizer["Save Translation Project"]</button>
                </div>
            </div>

            @if (Model.Id != Guid.Empty)
            {
                <div class="row">
                    <div class="col-12">
                        <hr />
                        <h2 class="text-capitalize">@SharedLocalizer["terms"] (<span id="term-count">@Model.Terms.Count</span>)</h2>
                    </div>
                    <div class="col-12 text-center">
                        <h3 class="text-uppercase">
                            @SharedLocalizer["Option 1: Upload File"]
                            <i class="fas fa-exclamation-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="@SharedLocalizer["Here you can upload a XLSX file with: <br /> - headers on the first row;<br /> - the term on the first column; <br /> - The primary language values on the second column; <br /><br />  Optionally, you can add up to 4 additional languages up to the 6th column."]" aria-hidden="true"></i>
                        </h3>
                    </div>
                    <div class="col-12 col-md-4">
                        <div id="divUploadTerms" class="dropzone" data-url="@Url.Action("uploadterms", "translation", new { Area = "tools", projectId = Model.Id })">
                            <div class="dz-message needsclick">
                                @SharedLocalizer["Drop a xlsx file here or click to upload."]<br>
                                <span class="note needsclick text-uppercase">
                                    (@SharedLocalizer["xlsx only!"])
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-4">
                                <label class="col-form-label text-uppercase">@SharedLocalizer["Column {0}", 1]</label>
                                <label class="form-control form-control-sm bg-light">@SharedLocalizer["Key"]</label>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <label class="col-form-label text-uppercase">@SharedLocalizer["Column {0}", 2]</label>
                                <label class="form-control form-control-sm bg-light">@SharedLocalizer["Primary Language"]</label>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <label class="col-form-label text-uppercase">@SharedLocalizer["Column {0}", 3]</label>
                                @Html.DropDownList("UploadColumn3", languages, SharedLocalizer["Nothing"], new { @class = "form-control  form-control-sm ddlcolumn", data_column = 3 })
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <label class="col-form-label text-uppercase">@SharedLocalizer["Column {0}", 4]</label>
                                @Html.DropDownList("UploadColumn4", languages, SharedLocalizer["Nothing"], new { @class = "form-control form-control-sm ddlcolumn", data_column = 4 })
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <label class="col-form-label text-uppercase">@SharedLocalizer["Column {0}", 5]</label>
                                @Html.DropDownList("UploadColumn5", languages, SharedLocalizer["Nothing"], new { @class = "form-control form-control-sm ddlcolumn", data_column = 5 })
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <label class="col-form-label text-uppercase">@SharedLocalizer["Column {0}", 6]</label>
                                @Html.DropDownList("UploadColumn6", languages, SharedLocalizer["Nothing"], new { @class = "form-control form-control-sm ddlcolumn", data_column = 6 })
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 offset-lg-6 col-xl-4 offset-xl-8 mt-1">
                        <button type="button" id="btnUploadTerms" class="btn btn-lg btn-warning btn-block" data-project-id="@Model.Id"><i class="fas fa-upload" aria-hidden="true"></i> @SharedLocalizer["Upload file"]</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <hr />
                        <div id="divManualTerms" class="border-bottom mb-2 pb-1 bg-white sticky">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h3 class="text-uppercase">@SharedLocalizer["Option 2: Add terms manually"]</h3>
                                </div>
                                <div class="col-6 text-center">
                                    <button type="button" class="btn btn-sm btn-success" id="btn-translation-term-add"><i class="fas fa-plus" aria-hidden="true"></i> @SharedLocalizer["Add term"]</button>
                                </div>

                                <div class="col-6 col-lg-6 col-xl-4 offset-xl-2">
                                    <button type="button" id="btnSaveTerms" class="btn btn-sm btn-secondary btn-block"><i class="fas fa-save" aria-hidden="true"></i> @SharedLocalizer["Save All Terms"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="divTerms" class=" col-12 p-0 mt-2">
                </div>
            }
        </div>
    </form>
</div>

<div class="row pb-1 pb-sm-2 pb-md-3 p-md-0 m-0 mt-2 m-md-2 mb-2 border bg-light no-gutters translation-term template">
    <div class="col-12 px-1 px-sm-2 px-md-3 no-gutters">
        <input type="hidden" id="Placeholder_0__Id" name="Placeholder[0].Id" />
        <input type="hidden" id="Placeholder_0__CreateDate" name="Placeholder[0].CreateDate" />
        <input type="hidden" id="Placeholder_0__UserId" name="Placeholder[0].UserId" />
        <div class="col-12 rounded-0">
            <label class="col-form-label">@Html.LabelFor(x => x.Terms.First().Key)</label>
            <span class="col-form-label">
                <i class="fas fa-exclamation-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="@SharedLocalizer["We recommend that you choose a key without spaces and all lowercase."]" aria-hidden="true"></i>
            </span>
            <input id="Placeholder_0__Key" name="Placeholder[0].Key" class="form-control" placeholder="@SharedLocalizer["Type here a key for the term"]" />
            <span class="text-danger field-validation-valid" data-valmsg-for="Placeholder[0].Key" data-valmsg-replace="true"></span>
        </div>
        <div class="col-12 rounded-0">
            <label class="col-form-label">@Html.LabelFor(x => x.Terms.First().Value)</label> <span class="col-form-label">(@SharedLocalizer["in {0}", SharedLocalizer[Model.PrimaryLanguage.ToDisplayName()]])</span>
            <input id="Placeholder_0__Value" name="Placeholder[0].Value" class="form-control" placeholder="@SharedLocalizer["Type here your translation"]" />
            <span class="text-danger field-validation-valid" data-valmsg-for="Placeholder[0].Value" data-valmsg-replace="true"></span>
        </div>
        <div class="col-12 mt-1">
            <label class="col-form-label">@Html.LabelFor(x => x.Terms.First().Obs)</label>
            <textarea id="Placeholder_0__Obs" name="Placeholder[0].Obs" class="form-control" placeholder="@SharedLocalizer["Explain here the context of this term."]"></textarea>
            <span class="text-danger field-validation-valid" data-valmsg-for="Placeholder[0].Obs" data-valmsg-replace="true"></span>
        </div>
    </div>
</div>
