@model TranslationProjectViewModel

@{
    Layout = null;
    var canInteract = User.Identity.IsAuthenticated;
}

<h5>@SharedLocalizer["Share it!"]</h5>
<a asp-protocol="@ViewData["protocol"]" asp-host="@ViewData["host"]" asp-area="work" asp-controller="jobposition" asp-action="details" asp-route-id="@Model.Id" title="@SharedLocalizer["Share on Facebook"]" class="btn btn-social-icon btn-share btn-facebook" data-provider="facebook" data-title="title"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
<a asp-protocol="@ViewData["protocol"]" asp-host="@ViewData["host"]" asp-area="work" asp-controller="jobposition" asp-action="details" title="@SharedLocalizer["Share on Reddit"]" class="btn btn-social-icon btn-share btn-reddit" data-provider="reddit" data-title="title"><i class="fab fa-reddit-alien" aria-hidden="true"></i></a>
<a asp-protocol="@ViewData["protocol"]" asp-host="@ViewData["host"]" asp-area="work" asp-controller="jobposition" asp-action="details" title="@SharedLocalizer["Tweet this!"]" class="btn btn-social-icon btn-share btn-twitter" data-provider="twitter" data-text="@SharedLocalizer["Help this translation project!"]"><i class="fab fa-twitter" aria-hidden="true"></i></a>