@model TranslationProjectViewModel
@{
    ViewData["Title"] = SharedLocalizer["Translate for {0}", Model.Game.Title];
    ViewData["Description"] = "tralala";
    ViewData["Url"] = ViewBag.BaseUrl + Url.Action("details", "translation", new { area = "tools", id = Model.Id });
    //ViewData["OgImage"] = ViewBag.BaseUrl + "/images/og/ogwork.png";
    //ViewData["OgImageWidth"] = 1200;
    //ViewData["OgImageHeight"] = 630;

    var canInteract = User.Identity.IsAuthenticated;
}

@section ComponentStyles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/_feature.css">
        <link rel="stylesheet" href="~/css/translation.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/translation.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/translation/translation.js"></script>
        <script src="~/js/shared/contentactions.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/translation/translation.min.js" asp-append-version="true"></script>
    </environment>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<div id="featurecontainer" class="col">
    <div id="containerdetails">
        <div class="row box bg-white no-gutters">
            <div class="col-lg-12">
                <h1 class="sr-only">
                    @SharedLocalizer["translation project details"]
                </h1>
                <input type="hidden" asp-for="Id" />
                <div id="translationcontainer" class="mx-0">
                    <input type="hidden" id="caninteract" value="@canInteract.ToString().ToLower()" />
                    <div data-id="@Model.Id">
                        <div class="box-header with-border">
                            <div class="float-left mr-2">
                                <a asp-area="tools" asp-controller="translation" asp-action="index" class="btn btn-lg btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                            </div>
                            <div class="float-left">
                                <h2 class="card-title">@ViewData["Title"]</h2>
                            </div>

                            <div class="box-tools">
                                @if (Model.Permissions.CanEdit || Model.Permissions.CanDelete)
                                {
                                    <div class="btn-group">
                                        <button type="button" class="btn  btn-box-tool" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                                        </button>
                                        <div class="dropdown-menu text-capitalize" x-placement="bottom-start" style="position: absolute; transform: translate3d(-67px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            @if (Model.Permissions.CanEdit)
                                            {
                                                <a class="btnEditTranslationProject dropdown-item" href="#" data-url="@Url.Action("Edit", "Translation", new { area = "Tools", id = Model.Id })">@SharedLocalizer["edit"]</a>
                                            }

                                            @if (Model.Permissions.CanDelete)
                                            {
                                                <a class="btnDeleteTranslationProject dropdown-item" href="#" data-url="@Url.Action("DeleteTranslation", "Translation", new { area = "Tools", id = Model.Id })" data-confirmationmessage="@SharedLocalizer["Are you sure you want to delete this job position?"]" data-confirmationtitle="@SharedLocalizer["Are you sure?"]" data-confirmationbuttontext="@SharedLocalizer["Yes, delete it!"]" data-cancelbuttontext="@SharedLocalizer["Cancel"]">@SharedLocalizer["delete"]</a>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="box-body p-0 px-md-2">
                            <div class="row">
                                <div class="col-lg-8" data-id="@Model.Id">
                                    <partial name="_GameCard" model="Model.Game" />
                                </div>
                                <div class="col-lg-4">
                                    <div class="author-details">
                                        <div class="col-12">
                                            <span>@SharedLocalizer["This translation was requested by"]:</span>
                                            <div class="user-block">
                                                <a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@Model.UserId">
                                                    <img class="rounded-circle" src="@Model.AuthorPicture" alt="This is @Model.AuthorName">
                                                </a>
                                                <span class="username"><a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@Model.UserId">@Model.AuthorName</a></span>

                                                <a asp-area="" asp-controller="content" asp-action="details" asp-route-id="@Model.Id" class="contenturl">
                                                    <span class="description">@Model.CreateDate.ToString()</span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="border mt-3 mb-3 p-2 bg-light">
                                            <div class="row">
                                                <div class="col-12">
                                                    <p>@Model.Introduction</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <partial name="_DetailsSidebar" model="Model" />
                                </div>
                            </div>

                            <div class="mt-2">
                                <div class="text-center">
                                    <h4 class="text-uppercase mb-0">@SharedLocalizer["translating"]</h4>
                                </div>
                                <div class="row border-bottom mb-2">
                                    <div class="col border-right rounded-0">
                                        <label class="col-form-label text-uppercase">@SharedLocalizer["from"]</label>
                                        <label class="form-control bg-gray">@SharedLocalizer[Model.PrimaryLanguage.ToDisplayName()]</label>
                                    </div>
                                    <div class="col border-left rounded-0">
                                        <label class="col-form-label text-uppercase" ">@SharedLocalizer["to"]</label>
                                        @Html.DropDownList("Language", Html.GetEnumSelectList<SupportedLanguage>().Where(x => x.Text != Model.PrimaryLanguage.ToString()), "Select a language", new { @class = "form-control" })
                                    </div>
                                </div>

                                @foreach (var term in Model.Terms)
                                {
                                    <div class="row pb-3 p-md-0 m-2 border bg-light">
                                        <div class="col-12 col-md-6 border-right rounded-0">
                                            <label class="col-form-label">@term.Key</label>

                                            <div class="input-group mb-3">
                                                <label class="form-control bg-gray">@term.Value</label>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" data-container="body" data-toggle="popover" data-placement="top" data-content="@term.Obs" title="@SharedLocalizer["Context"]"><i class="fas fa-question-circle" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 border-left rounded-0">
                                            <label class="col-form-label d-none d-md-block">@term.Key</label>
                                            <input class="form-control" placeholder="@SharedLocalizer["Type here your translation"]" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>