@model TranslationProjectViewModel
@{
    Layout = null;
    var limitMaxCharParam = 240;
    var needMore = limitMaxCharParam < Model.Introduction?.Length;
    var limitMaxCharDescription = needMore ? limitMaxCharParam : (int)(Model.Introduction?.Length ?? 0);

    var percentage = 80.5;
    var strokeWidth = 3.5;

    var text = String.Format("Translate from {0}!", Model.PrimaryLanguage.ToDisplayName());


}
@*https://codepen.io/maoberlehner/pen/jwVWQz*@

<partial name="_GameCard" model="Model.Game" />

<div class="row">
    <div class="col-12">
        <div class="translation-progress-chart text-center">
            <partial name="_DonutPercentageChart" model="new DonutChartViewModel(percentage, text, strokeWidth)" />
        </div>
    </div>
</div>

<div class="row p-2">
    <div class="col p-2 text-left">
        <span class="text-muted">@Model.PrimaryLanguage.ToDisplayName()</span>
    </div>
    <div class="col p-2 text-right">
        <span class="text-muted"><span class="comment-count">@Model.TermCount</span> @(Model.TermCount == 1 ? SharedLocalizer["term"] : SharedLocalizer["terms"])</span>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <a asp-area="tools" asp-controller="translation" asp-action="details" asp-route-id="@Model.Id" class="btn btn-block btn-secondary">@SharedLocalizer["Help this one!"]</a>
    </div>
</div>
