@model TranslationProjectViewModel
@{
    Layout = null;
    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;
    var text = String.Format("Translate from {0}!", Model.PrimaryLanguage.ToDisplayName());
}

<partial name="_GameCard" model="Model.Game" />

<div class="row">
    <div class="col-12">
        <div class="translation-progress-chart text-center">
            <partial name="_DonutPercentageChart" model="new DonutChartViewModel(Model.TranslationPercentage, text)" />
        </div>
    </div>
</div>

<div class="row p-2">
    <div class="col p-2 text-left">
        <span class="text-muted">@Model.PrimaryLanguage.ToDisplayName()</span>
    </div>
    <div class="col p-2 text-right">
        <span class="text-muted"><span class="comment-count">@Model.TermCount</span> @(Model.TermCount == 1 ? SharedLocalizer["term"] : SharedLocalizer["terms"])</span>
    </div>
</div>

@if (canInteract)
{
    <div class="row">
        <div class="col-12">
            <a asp-area="tools" asp-controller="translation" asp-action="details" asp-route-id="@Model.Id" class="btn btn-block btn-secondary">@SharedLocalizer["Help this one!"]</a>
        </div>
    </div>
}
