@model TranslationProjectViewModel
@{
    Layout = null;
    var limitMaxCharParam = 240;
    var needMore = limitMaxCharParam < Model.Introduction?.Length;
    var limitMaxCharDescription = needMore ? limitMaxCharParam : (int)(Model.Introduction?.Length ?? 0);
    
    var percentage = 75.3;
    var rest = 100-percentage;
    var strokeWidth = 3.5;
    

}
@*https://codepen.io/maoberlehner/pen/jwVWQz*@

<partial name="_GameCard" model="Model.Game" />

<div class="row">
    <div class="col-12">
        <div class="translation-progress-chart svg-item text-center">
            <svg width="50%" viewBox="0 0 40 40" class="donut img-fluid">
                <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
                <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="@strokeWidth"></circle>
                <circle class="donut-segment" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="@strokeWidth" stroke-dasharray="@String.Format("{0} {1}", percentage, rest)" stroke-dashoffset="25"></circle>
                <g class="donut-text">
                    <text class="circle-chart__percent" x="20" y="20" alignment-baseline="central" text-anchor="middle" font-size="8">@String.Format("{0}%", percentage)</text>
                    <text class="circle-chart__subline" x="20" y="25" alignment-baseline="central" text-anchor="middle" font-size="2">@String.Format("Translated from {0}!", Model.PrimaryLanguage.ToDisplayName())</text>
                </g>
            </svg>
        </div>
    </div>
</div>

<div class="col-12 text-lowercase text-right">
    <span class="text-muted"><span class="comment-count">@Model.TermCount</span> @(Model.TermCount == 1 ? SharedLocalizer["term"] : SharedLocalizer["terms"])</span>
</div>

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-block btn-secondary">Help this one!</button>
    </div>
</div>