@model TranslationProjectViewModel
@{
    Layout = null;

    string lang = (string)ViewData["language"];

    var languages = Html.GetEnumSelectList<SupportedLanguage>().Where(x => x.Text != Model.PrimaryLanguage.ToString()).ToList();

    languages.ForEach(x => x.Selected = (x.Value.Equals(lang)));
}

<div class="text-center">
    <h4 class="text-uppercase mb-0">@SharedLocalizer["reviewing"]</h4>
</div>
<div class="bg-white">
    <div class="row">
        <div class="col-6">
            <label class="col-form-label text-uppercase">@SharedLocalizer["from"]</label>
        </div>
        <div class="col-6">
            <label class="col-form-label text-uppercase">@SharedLocalizer["to"]</label>
        </div>
    </div>
</div>
<div id="divTranslationSelector" class="border-bottom pt-1 pb-0 pb-1 bg-white sticky">
    <div class="row">
        <div class="col-6">
            <label class="form-control form-control-sm bg-gray">@SharedLocalizer[Model.PrimaryLanguage.ToDisplayName()]</label>
        </div>
        <div class="col-6">
            @Html.DropDownList("Language", languages, SharedLocalizer["Select a language"], new { @class = "form-control form-control-sm" })
        </div>
    </div>
</div>

@foreach (var term in Model.Terms)
{
    <div class="row pb-1 pb-sm-2 m-0 mt-2 m-md-2 mb-2 border bg-light translation-entry">
        <div class="col-6 border-right rounded-0">
            <div class="row">
                <div class="col-12">
                    <label class="col-form-label">@term.Key</label>
                </div>

                <div class="col-12">
                    <span>@Html.Raw(term.Value.Replace("\n", "<br />"))</span>
                </div>
                @if (!string.IsNullOrWhiteSpace(term.Obs))
                {
                    <div class="col-12">
                        <label class="col-form-label text-capitalize">@SharedLocalizer["context"]</label>
                        <p>@term.Obs</p>
                    </div>
                }
            </div>
        </div>

        <div class="col-6 pt-2">
            <label class="col-form-label">
                @SharedLocalizer["Selected translator"]: <span class="translator-name" data-nobody="@SharedLocalizer["nobody"]">@SharedLocalizer["nobody"]</span>
            </label>

            <div class="entry-authors">
            </div>

            <div class="input-group pt-2">
                <textarea class="form-control entry-input" data-termid="@term.Id" data-entryid="x" data-originalval="@string.Empty" placeholder="@SharedLocalizer["Select a language and an author to load the translation"]" readonly></textarea>
            </div>

            <div class="translation-entry-actions float-right pt-1">
                <div class="btn-group" role="group" aria-label="Translation Entry Actions">
                    <button type="button" class="btn btn-sm btn-default text-danger entry-reject" tabindex="-1" title="@SharedLocalizer["Reject this translation"]"><i class="fas fa-fw fa-times" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-sm btn-default text-success entry-accept" tabindex="-1" title="@SharedLocalizer["Accept this translation"]"><i class="fas fa-fw fa-check" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
}