@model TranslationStatsViewModel
@{
    ViewData["Title"] = SharedLocalizer["Translation Stats for {0}", Model.Game.Title];
    ViewData["Description"] = "tralala";
    ViewData["Url"] = ViewBag.BaseUrl + Url.Action("stats", "translation", new { area = "tools", id = Model.Id });
    //ViewData["OgImage"] = ViewBag.BaseUrl + "/images/og/ogwork.png";
    //ViewData["OgImageWidth"] = 1200;
    //ViewData["OgImageHeight"] = 630;
    Model.Game.Title = string.Empty;

    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;
    var noContributorsModel = new ListNoItemsViewModel("fas fa-dizzy", "No one translated anything yet!");
}

@section ComponentStyles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/translation.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/translation.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/shared/contentactions.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/shared/contentactions.min.js" asp-append-version="true"></script>
    </environment>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div id="featurecontainer" class="col-12">
    <div id="containerdetails">
        <div class="box bg-white no-gutters">
            <h1 class="sr-only">
                @SharedLocalizer["translation project details"]
            </h1>
            <input type="hidden" asp-for="Id" />
            <div id="translationcontainer" class="mx-0">
                <input type="hidden" id="caninteract" value="@canInteract.ToString().ToLower()" />
                <div data-id="@Model.Id">
                    <div class="box-header with-border">
                        <div class="float-left mr-2">
                            <a asp-area="tools" asp-controller="translation" asp-action="details" asp-route-id="@Model.Id" class="btn btn-lg btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                        </div>
                        <div class="float-left">
                            <h2 class="card-title">@ViewData["Title"]</h2>
                        </div>
                    </div>

                    <div class="box-body p-0 px-md-2">
                        <div class="row">
                            <div class="col-lg-8" data-id="@Model.Id">
                                <partial name="_GameCard" model="Model.Game" />
                            </div>
                            <div class="col-lg-4">
                                <div class="author-details">
                                    <div class="col-12">
                                        <span>@SharedLocalizer["This translation was requested by"]</span>

                                        <partial name="_AuthorDetails" model="Model" />
                                    </div>
                                </div>

                                <div class="border mt-3 mb-3 p-2 bg-light">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="col-form-label">@SharedLocalizer["Primary Language"]</label>
                                                <h5>@SharedLocalizer[Model.PrimaryLanguage.ToDisplayName()]</h5>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="col-form-label">@SharedLocalizer["terms"]</label>
                                                <h5>@Model.TermCount</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <partial name="_ShareContent" model="new ShareModel(Model.ShareUrl, Model.ShareText)" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <hr />
                                <h3>@SharedLocalizer["Translation Progress"]</h3>
                            </div>
                            <div class="col-12">
                                <h3 class="text-uppercase">@SharedLocalizer["overall"] <span class="badge badge-secondary align-top">@(Model.TranslationPercentageText)%</span></h3>
                                <div class="progress">
                                    <div class="progress-bar bg-success" style="width: @(Model.TranslationPercentage.ToInvariant())%;"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                @foreach (var language in Model.Languages)
                                {
                                    <div class="mt-1">
                                        <h5 class="text-uppercase">@SharedLocalizer[language.Language.ToDisplayName()] - @language.EntryCount <span class="badge badge-secondary align-top">@(language.PercentageText)%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-info" style="width: @(language.Percentage.ToInvariant())%;"></div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <hr />
                                <h3 class="text-capitalize">@SharedLocalizer["Who helped"]</h3>
                            </div>
                            <div class="col-12">
                                @if (Model.Contributors.Any())
                                {
                                    for (int i = 0; i < Model.Contributors.Count; i++)
                                    {
                                        var contributor = Model.Contributors.ElementAt(i);

                                        <div class="col-12 bg-light border mt-1 p-2">
                                            <a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@contributor.UserId">
                                                <img class="rounded-circle lazyload avatar" src="@contributor.AuthorPicture" alt="@contributor.AuthorName">
                                            </a>
                                            <span>@contributor.AuthorName</span> (<span>@contributor.EntryCount.ToString()</span>)
                                        </div>
                                    }
                                }
                                else
                                {
                                    <partial name="_ListNoItems" model="noContributorsModel" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>