@model TranslationProjectViewModel
@{
    Layout = null;

    string lang = (string)ViewData["language"];

    var languages = Html.GetEnumSelectList<SupportedLanguage>().Where(x => x.Text != Model.PrimaryLanguage.ToString()).ToList();

    languages.ForEach(x => x.Selected = (x.Value.Equals(lang)));
}

<div class="text-center">
    <h4 class="text-uppercase mb-0">@SharedLocalizer["translating"]</h4>
</div>
<div class="bg-white">
    <div class="row">
        <div class="col-6 col-xl-3">
            <label class="col-form-label text-uppercase">@SharedLocalizer["from"]</label>
        </div>
        <div class="col-6 col-xl-3">
            <label class="col-form-label text-uppercase">@SharedLocalizer["to"]</label>
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-2 mb-md-0">
            <label class="col-form-label text-uppercase d-none d-xl-block">&nbsp;</label>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <label class="col-form-label text-uppercase d-none d-xl-block">&nbsp;</label>
        </div>
    </div>
</div>
<div id="divTranslationSelector" class="border-bottom pt-1 pb-0 pb-1 bg-white sticky">
    <div class="row">
        <div class="col-6 col-xl-4">
            <label class="form-control form-control-sm bg-gray">@SharedLocalizer[Model.PrimaryLanguage.ToDisplayName()]</label>
        </div>
        <div class="col-6 col-xl-4">
            @Html.DropDownList("Language", languages, SharedLocalizer["Select a language"], new { @class = "form-control form-control-sm" })
        </div>
        <div class="col-12 col-md-6 col-xl-4 mb-2 mb-md-0">
            <div class="btn-group btn-group-toggle btn-block" role="group" data-toggle="buttons" aria-label="@SharedLocalizer["Translation Filter"]">

                <label class="btn btn-default btn-filter active" data-filter="@TranslationFilter.All">
                    <input type="radio" name="options" id="option1" checked> @SharedLocalizer["all"]
                </label>
                <label class="btn btn-default btn-filter" data-filter="@TranslationFilter.Translated">
                    <input type="radio" name="options" id="option2"> @SharedLocalizer["translated"]
                </label>
                <label class="btn btn-default btn-filter" data-filter="@TranslationFilter.Untranslated">
                    <input type="radio" name="options" id="option3"> @SharedLocalizer["untranslated"]
                </label>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-12">
            <button type="button" id="btnSaveTranslationChanges" class="btn btn-sm btn-block btn-outline-primary">@SharedLocalizer["Save Translations"] <span id="changedtranslationscounter" data-count="0">0</span></button>
        </div>
    </div>
</div>

@foreach (var term in Model.Terms)
{
    <div class="row pb-1 pb-sm-2 pb-md-3 p-md-0 m-0 mt-2 m-md-2 mb-2 border bg-light no-gutters">
        <div class="col-12 px-1 px-sm-2 px-md-3 no-gutters">
            <div class="col-12">
                <label class="col-form-label py-0">
                    @if (!string.IsNullOrWhiteSpace(term.Obs))
                    {
                        @term.Key <span data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="@term.Obs"><i class="fas fa-question-circle" aria-hidden="true"></i></span>
                    }
                    else
                    {
                        @term.Key
                    }
                </label>
            </div>

            <p class="mx-3 mb-0">@Html.Raw(term.Value.Replace("\n", "<br />"))</p>

            <div class="col-12 mb-3 translation-entry">
                <div class="input-group mt-1">
                    <textarea class="form-control entry-input" data-termid="@term.Id" data-originalval="@string.Empty" placeholder="@SharedLocalizer["Type here your translation"]"></textarea>
                </div>
                <div class="translation-entry-actions float-right mt-1">
                    <div class="btn-group" role="group" aria-label="Translation Entry Actions">
                        <button type="button" class="btn btn-sm btn-default text-success entry-save" tabindex="-1" title="@SharedLocalizer["Add or update your translation for this term."]"><i class="fas fa-fw fa-check" aria-hidden="true"></i></button>
                    </div>
                </div>

                <div class="entry-authors">
                </div>
            </div>
        </div>
    </div>
}