
@{
    //ViewData["ControlSidebarTitle"] = ViewData["Title"];
    //ViewData["ControlSidebarUrl"] = Url.Action("Index", "JobPosition", new { area = "Work" });

    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;
    var canRequest = (bool)ViewData["CanRequest"];

    if (isAjax)
    {
        Layout = null;
    }

    ViewData["Title"] = SharedLocalizer["Translation"];
    ViewData["Description"] = SharedLocalizer["Help other gamedevs to translate their games."];
    ViewData["Url"] = ViewBag.BaseUrl + Url.Action("index", "translation", new { area = "tools" });
    //ViewData["OgImage"] = ViewBag.BaseUrl + "/images/og/ogwork.png";
    //ViewData["OgImageWidth"] = 1200;
    //ViewData["OgImageHeight"] = 630;
}

@section ComponentStyles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/_feature.css">
        <link rel="stylesheet" href="~/css/translation.css">
        <link rel="stylesheet" href="~/css/circularpercentage.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/translation.min.css" asp-append-version="true">
    </environment>
}


@section Scripts {
    <environment include="Development">
        <script src="~/js/translation/translation.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/translation/translation.min.js" asp-append-version="true"></script>
    </environment>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section TranslatedMessages {
    <span class="msg" data-msg-id="msgUrlMissing">@SharedLocalizer["The Url must not be empty!"]</span>
}

<div id="featurecontainer" class="col-12 container">
    <input type="hidden" id="isajax" value="@isAjax.ToString().ToLower()" />
    <input type="hidden" id="caninteract" value="@canInteract.ToString().ToLower()" />
    <input type="hidden" id="urls" value="urls"
           data-url-list="@Url.Action("list", "translation", new { area = "tools" })"
           data-url-mine="@Url.Action("listMine", "translation", new { area = "tools" })" />

    <div id="containerdetails" class="row">

    </div>
    <div id="containerlist" class="row">
        <div class="col-lg-12 mb-2 px-4">
            <h1><i class="fa fa-fw fa-language" aria-hidden="true"></i> @ViewData["Title"]</h1>
        </div>
        <div class="col-lg-8 mb-3">
            <div id="divList"></div>
        </div>
        <div id="featuresidebar" class="col-lg-4 no-gutters">
            @if (!canInteract)
            {
                <div class="alert-info p-2">
                    @SharedLocalizer["You must be logged in to work on translations."]
                </div>
            }
            else
            {
                <div class="feature-box">
                    <h3>@SharedLocalizer["User Panel"]</h3>
                    <div class="row">
                        <div class="col-12">
                            <p>@SharedLocalizer["Welcome to the IndieVisible Translation! Here you can request help from other users to translate the texts for your game or help others translating theirs."]</p>
                        </div>
                        <div class="col-12">
                            @if (canInteract && canRequest)
                            {
                                <div id="divActions">
                                    <button id="btn-new" class="btn btn-outline-primary btn-block" data-url="@Url.Action("new", "translation", new { area = "tools" })">@SharedLocalizer["New Translation"]</button>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info">@SharedLocalizer["All your games are being translated."]</div>
                            }
                            <div class="mt-2">
                                <h4>@SharedLocalizer["My Projects"]:</h4>
                                <div id="divMyProjects" class="mt-1 p-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
