
@{
    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;

    if (isAjax)
    {
        Layout = null;
    }

    var studyProfile = (StudyProfile)Enum.Parse(typeof(StudyProfile), (string)ViewData["studyProfile"]);

    ViewData["Title"] = SharedLocalizer["{0} Dashboard", studyProfile.ToString()];
    ViewData["Description"] = SharedLocalizer["Study gamedev or mentor students."];
    ViewData["Url"] = ViewBag.BaseUrl + Url.Action("index", "study", new { area = "learn" });
    ViewData["OgImage"] = ViewBag.BaseUrl + "/images/og/ogstudy.png";
    ViewData["OgImageWidth"] = 1200;
    ViewData["OgImageHeight"] = 630;
}

@section ComponentStyles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/_feature.css">
        <link rel="stylesheet" href="~/css/study.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/study.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/study/studydashboard.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/study/studydashboard.min.js" asp-append-version="true"></script>
    </environment>
}

@section TranslatedMessages {
    <span class="msg" data-msg-id="msgUrlMissing">@SharedLocalizer["The Url must not be empty!"]</span>
}

<div id="featurecontainer" class="col-12">
    <input type="hidden" id="isajax" value="@isAjax.ToString().ToLower()" />
    <input type="hidden" id="caninteract" value="@canInteract.ToString().ToLower()" />
    <input type="hidden" id="studyProfile" value="@studyProfile" />
    <input type="hidden" id="urls" value="urls"
           data-url-listcoursesbyme="@Url.Action("listbyme", "course", new { area = "learn" })"
           data-url-listmycourses="@Url.Action("listmine", "course", new { area = "learn" })"
           data-url-listmymentors="@Url.Action("listmymentors", "study", new { area = "learn" })"
           data-url-listmystudents="@Url.Action("listmystudents", "study", new { area = "learn" })" />

    <div id="containerlist" class="row">
        <div class="col-lg-12 mb-2 px-4">
            <h1><i class="fa fa-fw @(studyProfile == StudyProfile.Mentor ? "fa-graduation-cap" : "user-graduate") " aria-hidden="true"></i> @ViewData["Title"]</h1>
        </div>
        <div class="col-lg-8 col-xl-9 mb-3">
            <div id="divListCourses"></div>
            <div id="divListMentors"></div>
            <div id="divListStudents"></div>
        </div>
        <div id="featuresidebar" class="col-lg-4 col-xl-3 no-gutters">
            @if (!canInteract)
            {
                <div class="alert-info p-2">
                    @SharedLocalizer["You must be logged in to study."]
                </div>
            }
            else
            {
                <div class="feature-box">
                    <h3>@SharedLocalizer["User Panel"]</h3>
                    <div class="row">
                        <div class="col-12">
                            <p>@SharedLocalizer["Welcome to the IndieVisible Study Platform! Here you can study."]</p>
                        </div>
                        <div class="col-12">
                            @if (canInteract)
                            {
                                <div id="divActions">
                                    <a asp-area="learn" asp-controller="course" asp-action="add" class="btn btn-outline-primary btn-block">@SharedLocalizer["New Course"]</a>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info">@SharedLocalizer["You must be logged in to be able to do something here."]</div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

