@model GameViewModel
@using System

@inject SignInManager<ApplicationUser> SignInManager

@{

    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Description;
    ViewData["Url"] = ViewBag.BaseUrl + Url.Action("details", "game", new { id = Model.Id });
    ViewData["OgImage"] = Model.ThumbnailUrl;
}

<div class="col-12">
    <input type="hidden" asp-for="Id" />
    <div class="box box-widget widget-game game-page">
        <div class="widget-game-header text-white" style="background: url('@Model.CoverImageUrl') center center; background-size:cover;">
            <div class="overlay dark">
                <div class="game-top-details">
                    <div class="float-left">
                        <div class="widget-game-image">
                            <div class="avatar-wrapper">
                                <a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@Model.UserId">
                                    <img class="rounded-circle" src="@Model.AuthorPicture" alt="User Avatar">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-left">
                        <h1 class="widget-game-gametitle">@Model.Title</h1>
                    </div>
                    <div class="text-left">
                        <span>
                            <a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@Model.UserId">
                                @SharedLocalizer["by"] @Model.AuthorName
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="user-profile-cover-topright">
                @if (Model.Permissions.CanEdit)
                {
                    <div class="btn-group">
                        <a asp-controller="game" asp-action="edit" asp-route-id="@Model.Id" class="btn btn-default bg-transparent">@SharedLocalizer["Edit Game"]</a>
                    </div>
                }
            </div>
        </div>
        <div class="box-footer">
            <div class="row mb-4 mt-2">
                <div class="col-6 col-md-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header follow-count">@Model.FollowerCount</h5>
                        <span class="description-text">@SharedLocalizer["followers"]</span>
                    </div>
                </div>
                <div class="col-md-4 border-right d-none d-md-block">
                    <div class="description-block">
                        <h5 class="description-header">@Model.CommentCount</h5>
                        <span class="description-text">@SharedLocalizer["Comments"]</span>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="description-block">
                        <h5 class="description-header like-count">@Model.LikeCount</h5>
                        <span class="description-text">@SharedLocalizer["Likes"]</span>
                    </div>
                </div>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="col-12 col-lg-6 offset-lg-3 mb-2">
                    <div class="row text-right mt-4 mb-3">
                        <div class="col-6">
                            <button type="button" id="btn-game-follow" class="btn btn-lg btn-block btn-outline-primary @(Model.CurrentUserFollowing ? "bg-blue follow-following" : string.Empty)" data-id="@Model.Id">
                                <i class="fa fa-eye" aria-hidden="true">&nbsp;</i>@SharedLocalizer["Follow"]
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="button" id="btn-game-like" class="btn btn-lg btn-block btn-outline-danger @(Model.CurrentUserLiked ? "bg-red like-liked" : string.Empty)" data-id="@Model.Id">
                                <i class="fa fa-heart" aria-hidden="true">&nbsp;</i>@SharedLocalizer["I love it"]
                            </button>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-xl-4 col-lg-5 d-none d-lg-block">
                    <div class="box bg-white">
                        <div class="box-body box-profile">
                            <div class="row">
                                <div class="col-12"><img src="@Model.ThumbnailUrl" class="rounded img-fluid" alt="Game Thumbnail" /></div>
                                <div class="col-12">
                                    <div class="game-info">
                                        <p>
                                            @SharedLocalizer["Genre"]
                                        </p>
                                        <h6 class="margin-bottom">@Model.Genre.ToString()</h6>
                                        <p>
                                            @SharedLocalizer["Engine"]
                                        </p>
                                        <h6 class="margin-bottom">@Model.Engine</h6>
                                        <p>
                                            @SharedLocalizer["Main Language"]
                                        </p>
                                        <h6 class="margin-bottom">@Model.Language</h6>
                                        @if (!string.IsNullOrWhiteSpace(Model.WebsiteUrl))
                                        {
                                            <p>
                                                @SharedLocalizer["Website"]
                                            </p>
                                            <a href="@Model.WebsiteUrl" target="_blank"><h6 class="margin-bottom text-truncate">@Model.WebsiteUrl</h6></a>
                                            <div class="text-center"><canvas id="qrCode"></canvas></div>
                                        }
                                        <p>
                                            @SharedLocalizer["Status"]
                                        </p>
                                        <h6 class="margin-bottom">@Model.Status</h6>
                                        @if (Model.ReleaseDate.HasValue)
                                        {
                                            <p>
                                                @SharedLocalizer["Release Date"]
                                            </p>
                                            <h6 class="margin-bottom">@Model.ReleaseDate.Value.ToShortDateString()</h6>
                                        }
                                        @if (Model.Platforms.Any())
                                        {
                                            <p>
                                                @SharedLocalizer["Platforms"]
                                            </p>

                                            <div class="release-platforms">
                                                @foreach (var platform in Model.Platforms)
                                                {
                                                    <i class="fab fa-2x fa-@platform.ToString().ToLower()" aria-hidden="true" title="@platform"></i>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li><a href="#tabactivity" class="active" data-toggle="tab">@SharedLocalizer["Activity"]</a></li>
                            <li><a href="#about" data-toggle="tab">@SharedLocalizer["About"]</a></li>
                        </ul>

                        <div class="tab-content p-1">
                            <div class="tab-pane active feed" id="tabactivity">
                                <div class="tabtoolbar mt-2 mb-2">
                                    @if (Model.Permissions.CanPostActivity)
                                    {
                                        <a asp-area="" asp-controller="content" asp-action="add" asp-route-gameId="@Model.Id" class="btn btn-success">Add Content</a>
                                    }

                                </div>
                                <div class="tab-pane" id="tabactivity">
                                    <div id="divActivityFeed"></div>
                                </div>
                            </div>

                            <div class="tab-pane" id="about">
                                <div class="row">
                                    <div class="col-12">
                                        <h6>
                                            @SharedLocalizer["Description"]
                                        </h6>
                                        @Model.Description
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/gamedetails.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/gamedetails.min.css" asp-append-version="true" />
    </environment>
}
@section Scripts {

    <environment include="Development">
        <script src="~/js/shared/contentactions.js"></script>
        <script src="~/js/game/gamedetails.js"></script>
        <script src="~/lib/qrious/qrious.js"></script>
        <script src="~/js/shared/activityfeed.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/qrious/qrious.min.js"></script>
        <script src="~/js/game/gamedetails.min.js" asp-append-version="true" defer></script>
    </environment>
    <script src="~/lib/embedo/embedo.js"></script>


    <script type="text/javascript">
        (function () {
            var qr = new QRious({
                element: document.getElementById('qrCode')
            });
            qr.set({
                value: '@Html.Raw(Model.WebsiteUrl)',
                size: 150
            });
        })();
    </script>

    <script type="application/ld+json">
        {
        "@@context":"http://schema.org",
        "@@type":"SocialMediaPosting",
        "@@id":"@ViewData["Url"]",
        "datePublished": "@Model.CreateDate.ToString("yyyy-MM-dd")",
        "image": "@(ViewBag.BaseUrl + Model.ThumbnailUrl)",
        "author":{
        "@@type":"Person",
        "name":"@Model.AuthorName",
        "url":"@(ViewBag.BaseUrl + "/profile/" + Model.UserId)",
        "image": "@(ViewBag.BaseUrl + Model.AuthorPicture)"
        },
        "headline":"@Model.Title",
        "sharedContent":{
        "@@type":"WebPage",
        "headline":"@Model.Title",
        "url":"@ViewData["Url"]",
        "author":{
        "@@type":"Person",
        "name":"@Model.AuthorName",
        "url":"@(ViewBag.BaseUrl + "/profile/" + Model.UserId)"
        }
        }
        }
    </script>
}
