@model IUserGeneratedContent
@{
    Layout = null;
}

<div class="user-block">
    <a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@Model.UserId">
        <img class="rounded-circle" src="@Model.AuthorPicture" alt="This is @Model.AuthorName">
    </a>
    <span class="username"><a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@Model.UserId">@Model.AuthorName</a></span>

    <a asp-area="" asp-controller="content" asp-action="details" asp-route-id="@Model.Id" class="contenturl">
        <span class="description">@Model.CreateDate.ToString()</span>
    </a>
</div>