<div id="infobox" class="col-12 p-3 box bg-white">
    <div class="row">
        <div class="col-6 text-capitalize text-nowrap">
            <h4>@SharedLocalizer["platform"]</h4>
            <ul class="list-unstyled">
                <li><a asp-area="" asp-controller="help" asp-action="about">@SharedLocalizer["about"]</a></li>
                <li><a asp-area="" asp-controller="home" asp-action="timeline">@SharedLocalizer["timeline"]</a></li>
                <li><a asp-area="" asp-controller="help" asp-action="contributing">@SharedLocalizer["contribute"]</a></li>
                <li><a asp-area="" asp-controller="help" asp-action="press">@SharedLocalizer["press"]</a></li>
                <li><a asp-area="" asp-controller="help" asp-action="partners">@SharedLocalizer["partners"]</a></li>
                <li><a asp-area="" asp-controller="help" asp-action="advertising">@SharedLocalizer["advertise"]</a></li>
                <li><a asp-area="" asp-controller="help" asp-action="specialthanks">@SharedLocalizer["special thanks"]</a></li>
            </ul>
        </div>
        <div class="col-6 text-capitalize border-left">
            <h4>@SharedLocalizer["interacting"]</h4>
            <ul class="list-unstyled">
                <li><a asp-area="" asp-controller="help" asp-action="start">@SharedLocalizer["help"]</a></li>
                <li><a asp-area="gamification" asp-controller="userbadge" asp-action="help">@SharedLocalizer["badges"]</a></li>
                <li><a asp-area="gamification" asp-controller="ranking" asp-action="help">@SharedLocalizer["ranks"]</a></li>
            </ul>
        </div>
    </div>
    <div class="row p-2 border-top">
        <div class="col-12">
            <div class="user-social-acount text-center">
                <a href="https://www.facebook.com/indievisiblenet" target="_blank" class="mt-1 btn rounded-circle btn-social-icon btn-facebook" rel="noopener noreferrer">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                </a>
                @*<a href="https://www.twitter.com/programad" target="_blank" class="mt-1 btn rounded-circle btn-social-icon btn-twitter" rel="noopener noreferrer">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>*@
                <a href="https://discord.gg/X5Z8dTH" target="_blank" class="mt-1 btn rounded-circle btn-social-icon btn-discord" rel="noopener noreferrer">
                    <i class="fab fa-discord" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row pt-2 border-top">
        <div class="col-12 text-capitalize">
            <a asp-area="" asp-controller="home" asp-action="terms">@SharedLocalizer["terms"]</a> | <a asp-area="" asp-controller="home" asp-action="privacy">@SharedLocalizer["policies"]</a>
        </div>
        <div class="col-12 pt-2">
            Copyright &copy; 2020 <a href="http://www.anteatergames.com/" rel="noopener noreferrer">Anteater Games</a>.
        </div>
    </div>
</div>