<nav class="navigation">
    <ul id="mainmenu" class="mainmenu">
        <li class="active"><a asp-area="" asp-controller="home" asp-action="index"><i class="fa fa-fw fa-home" aria-hidden="true"></i><span>&nbsp;@SharedLocalizer["Home"]</span></a></li>
        <li>
            <a href="#">
                <i class="fa fa-fw fa-play" aria-hidden="true"></i>
                <span>&nbsp;@SharedLocalizer["Start"]</span>
                <span class="float-right">
                    <i class="fa fa-angle-right pull-right" aria-hidden="true">&nbsp;</i>
                </span>
            </a>
            <ul class="submenu">
                <li><a asp-area="" asp-controller="game" asp-action="list"><i class="fa fa-fw fa-gamepad" aria-hidden="true"></i><span>&nbsp;@SharedLocalizer["Games"]</span></a></li>
                <li><a asp-area="" asp-controller="user" asp-action="list"><i class="fas fa-fw fa-user" aria-hidden="true"></i><span>&nbsp;@SharedLocalizer["Users"]</span></a></li>
                <li><a asp-area="gamification" asp-controller="ranking" asp-action="index"><i class="fas fa-fw fa-trophy" aria-hidden="true"></i><span>&nbsp;@SharedLocalizer["Ranking"]</span></a></li>
                @*<li><a href="#" class="notimplemented"><i class="fa fa-building" aria-hidden="true">&nbsp;</i><span>@SharedLocalizer["Studios"]</span></a></li>
                    <li><a href="#" class="notimplemented"><i class="fa fa-paperclip" aria-hidden="true">&nbsp;</i><span>@SharedLocalizer["Articles"]</span></a></li>
                    <li><a href="#" class="notimplemented"><i class="fa fa-newspaper" aria-hidden="true">&nbsp;</i><span>@SharedLocalizer["News"]</span></a></li>
                    <li><a href="#" class="notimplemented"><i class="fa fa-user" aria-hidden="true">&nbsp;</i>@SharedLocalizer["Profile"]</a></li>
                    <li><a href="#" class="notimplemented"><i class="fa fa-book" aria-hidden="true">&nbsp;</i>@SharedLocalizer["Portfolio"]</a></li>
                    <li><a href="#" class="notimplemented"><i class="fa fa-sticky-note" aria-hidden="true">&nbsp;</i>@SharedLocalizer["Content"]</a></li>*@
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-fw fa-users" aria-hidden="true"></i>
                <span>&nbsp;@SharedLocalizer["Multiplayer"]</span>
                <span class="float-right">
                    <i class="fa fa-angle-right pull-right" aria-hidden="true">&nbsp;</i>
                </span>
            </a>
            <ul class="submenu">
                <li><a asp-area="" asp-controller="brainstorm" asp-action="index" asp-route-id=""><i class="fa fa-fw fa-brain" aria-hidden="true"></i><span>&nbsp;@SharedLocalizer["Think"]</span></a></li>
                <li><a asp-area="" asp-controller="team" asp-action="index"><i class="fa fa-fw fa-users" aria-hidden="true"></i>&nbsp;@SharedLocalizer["Team up"]</a></li>
                @*<li><a href="#" class="notimplemented"><i class="fa fa-fw fa-shapes" aria-hidden="true"></i>&nbsp;@SharedLocalizer["Jam"]</a></li>*@
                @*<li><a href="#" class="notimplemented"><i class="fa fa-fw fa-hand-spock" aria-hidden="true"></i>&nbsp;@SharedLocalizer["Meet"]</a></li>*@
                <li><a asp-area="work" asp-controller="jobposition" asp-action="index"><i class="fa fa-fw fa-briefcase" aria-hidden="true"></i>&nbsp;@SharedLocalizer["Work"]</a></li>
                @*<li><a href="#" class="notimplemented"><i class="fa fa-fw fa-check-circle" aria-hidden="true"></i>&nbsp;@SharedLocalizer["Vote"]</a></li>*@
            </ul>
        </li>
        @*<li>
                <a href="#">
                    <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                    <span>&nbsp;@SharedLocalizer["Tools"]</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right pull-right" aria-hidden="true">&nbsp;</i>
                    </span>
                </a>
                <ul class="submenu">
                    <li><a href="#" class="notimplemented"><i class="fa fa-fw fa-project-diagram" aria-hidden="true"></i>&nbsp;@SharedLocalizer["Project Management"]</a></li>
                    <li><a href="#" class="notimplemented"><i class="fa fa-fw fa-mobile" aria-hidden="true"></i>&nbsp;@SharedLocalizer["App Graphics Generator"]</a></li>
                    <li><a href="#" class="notimplemented"><i class="fa fa-fw fa-pen-nib" aria-hidden="true"></i>&nbsp;@SharedLocalizer["Writer tool"]</a></li>
                    <li><a href="#" class="notimplemented"><i class="fa fa-fw fa-bolt" aria-hidden="true"></i>&nbsp;@SharedLocalizer["Component Scripts"]</a></li>
                    <li><a href="#" class="notimplemented"><i class="fa fa-fw fa-language" aria-hidden="true"></i>&nbsp;@SharedLocalizer["Translation Tool"]</a></li>
                </ul>
            </li>*@
    </ul>
</nav>

<div id="menufooter">
    @SharedLocalizer["Read our"] <a asp-area="" asp-controller="home" asp-action="terms">@SharedLocalizer["Terms"]</a> @SharedLocalizer["and"] <a asp-area="" asp-controller="home" asp-action="privacy">@SharedLocalizer["Policies"]</a>
</div>