@model IUserProfileBasic

@{
    Layout = null;
    var nameLimitParam = 20;
    var nameLimit = nameLimitParam < Model.Name.Length ? nameLimitParam : Model.Name.Length;
}

<div class="box-widget widget-user">
    <div class="widget-user-image">
        <a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@Model.UserId">
            <img class="rounded-circle lazyload" data-src="@Model.ProfileImageUrl" src="~/images/profileimages/developer.png" alt="User Avatar">
        </a>
    </div>
    <div class="widget-user-header bg-black" style="background-image: url('@Model.CoverImageUrl')">
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-12">
                <h3 class="widget-user-username">@Model.Name.Substring(0, nameLimit)</h3>
            </div>
            <div class="col-6 border-right">
                <div class="description-block">
                    <span class="description-text">
                        @SharedLocalizer["location"]
                    </span>
                    <h5 class="description-header text-truncate">@Model.Location</h5>
                </div>
            </div>
            <div class="col-6">
                <div class="description-block">
                    <span class="description-text">
                        @SharedLocalizer["Member since"]
                    </span>
                    <h5 class="description-header">@Model.CreateDate.ToShortDateString()</h5>
                </div>
            </div>
        </div>
    </div>
</div>