@model IEnumerable<ProfileViewModel>

@{
    ViewData["Title"] = SharedLocalizer["Registered Users"];
    ViewData["Description"] = SharedLocalizer["The awesome people that enjoy participating on our community."];
}

<h1 class="sr-only">@ViewData["Title"]</h1>

<div class="row mx-1">
    <div class="col-12 mx-1">
        <h2>@SharedLocalizer["We have {0} users", Model.Count()]</h2>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="box box-widget widget-user">
                <div class="widget-user-image">
                    <a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@item.UserId">
                        <img class="rounded-circle lazyload" data-src="@item.ProfileImageUrl" src="~/images/profileimages/developer.png" alt="User Avatar">
                    </a>
                </div>
                <div class="widget-user-header bg-black" style="background-image: url('@item.CoverImageUrl')">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="widget-user-username">@Html.DisplayFor(modelItem => item.Name)</h3>
                        </div>
                        <div class="col-6 border-right">
                            <div class="description-block">
                                <span class="description-text">
                                    @SharedLocalizer["location"]
                                </span>
                                <h5 class="description-header text-truncate">@item.Location</h5>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="description-block">
                                <span class="description-text">
                                    @SharedLocalizer["Member since"]
                                </span>
                                <h5 class="description-header">@item.CreateDate.ToShortDateString()</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Styles {
    <style>
        .avatarcol {
            width: 64px;
            display: inline-block;
            vertical-align: top;
        }

        .infocol {
            display: inline-block;
        }
    </style>
}