@model IEnumerable<ProfileViewModel>

@{
    ViewData["Title"] = "Registered Users";
}

<h2>Users (@Model.Count())</h2>

<div class="row mx-1">
    @foreach (var item in Model)
    {

        @*<div class="col-12 col-sm-6 col-lg-4">
                <div class="box">
                    <a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@item.UserId">
                        <div class="avatarcol">
                            <img data-src="@item.ProfileImageUrl" src="~/images/profileimages/developer.png" alt="avatar" class="avatarcol rounded lazyload" />
                        </div>
                        <div class="infocol">
                            <div class="col-12"><strong>@Html.DisplayFor(modelItem => item.Name)</strong></div>
                            <div class="col-12">@item.Location</div>
                            <div class="col-12">@item.CreateDate.ToShortDateString()</div>
                        </div>
                    </a>
                </div>
            </div>*@
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black" style="background: url('@item.CoverImageUrl') center center;background-color:rgba(0, 0, 0, .5)">
                    <h3 class="widget-user-username">@Html.DisplayFor(modelItem => item.Name)</h3>
                    <h6 class="widget-user-desc">@item.Motto</h6>
                </div>
                <div class="widget-user-image">
                    <a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@item.UserId">
                        <img class="rounded-circle lazyload" data-src="@item.ProfileImageUrl" src="~/images/profileimages/developer.png" alt="User Avatar">
                    </a>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-6 border-right">
                            <div class="description-block">
                                <span class="description-text">Location</span>
                                <h5 class="description-header text-truncate">@item.Location</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            <div class="description-block">
                                <span class="description-text">Member since</span>
                                <h5 class="description-header">@item.CreateDate.ToShortDateString()</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    }
</div>

@section Styles {
    <style>
        .avatarcol {
            width: 64px;
            display: inline-block;
            vertical-align: top;
        }

        .infocol {
            display: inline-block;
        }
    </style>
}
