@model CountersViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-xl-12 col-md-6 col-12">
        <a asp-area="" asp-controller="game" asp-action="list">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fas fa-gamepad" aria-hidden="true"></i></span>

                <div class="info-box-content">
                    <span class="info-box-number">@Model.GamesCount</span>
                    <span class="info-box-text">@SharedLocalizer["Games"]</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-12 col-md-6 col-12">
        <a asp-area="" asp-controller="user" asp-action="list">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-user" aria-hidden="true"></i></span>

                <div class="info-box-content">
                    <span class="info-box-number">@Model.UsersCount</span>
                    <span class="info-box-text">@SharedLocalizer["Users"]</span>
                </div>
            </div>
        </a>
    </div>
    <div class="clearfix visible-sm-block"></div>

    <div class="col-xl-12 col-md-6 col-12">
        <a asp-area="" asp-controller="home" asp-action="articles">
            <div class="info-box">
                <span class="info-box-icon bg-blue"><i class="fas fa-newspaper" aria-hidden="true"></i></span>

                <div class="info-box-content">
                    <span class="info-box-number">@Model.ArticlesCount</span>
                    <span class="info-box-text">@SharedLocalizer["Articles"]</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-12 col-md-6 col-12">
        <a asp-area="" asp-controller="team" asp-action="index">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-users" aria-hidden="true"></i></span>

                <div class="info-box-content">
                    <span class="info-box-number">@Model.TeamCount</span>
                    <span class="info-box-text">@SharedLocalizer["Teams"]</span>
                </div>
            </div>
        </a>
    </div>
</div>