@model IndieVisible.Application.ViewModels.Brainstorm.BrainstormIdeaViewModel

@{
    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;
    var session = (IndieVisible.Application.ViewModels.Brainstorm.BrainstormSessionViewModel)ViewData["Session"];

    ViewData["Title"] = SharedLocalizer["New idea for \"{0}\"", session.Title];
}

@if (!isAjax)
{
    @section Scripts {
        <environment include="Development">
            <script src="~/js/brainstorm/brainstorm.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/brainstorm/brainstorm.min.js" asp-append-version="true"></script>
        </environment>

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
}

<section class="content container">
    <h1>@ViewData["Title"]</h1>
    <div class="box bg-white">
        <form id="frmBrainstormIdeaSave" asp-controller="brainstorm" asp-action="save" method="post">
            <input type="hidden" id="caninteract" value="@canInteract.ToString().ToLower()" />
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="SessionId" />
            <div class="box-header with-border">
                <div class="float-left mr-3 mb-3">
                    <a asp-area="" asp-controller="brainstorm" asp-action="index" class="btn btn-lg btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                </div>
                <h3 class="card-title">@SharedLocalizer["You are giving a suggestion for \"{0}\"", session.Title]</h3>
                <p>@session.Description</p>
                <h4 class="card-subtitle">
                    @SharedLocalizer["Speak your mind!"]
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="box-body p-md-10">
                <div class="form-group">
                    <label asp-for="Title" class="col-form-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-form-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 offset-sm-6 col-md-4 offset-md-8">
                        <button type="button" id="btnPostBrainstormIdea" class="btn btn-lg btn-primary btn-block"><i class="fa fa-save" aria-hidden="true">&nbsp;</i>@SharedLocalizer["Save Idea"]</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>