@model IEnumerable<BrainstormIdeaViewModel>

@{
    Layout = null;
    var noItemsModel = new ListNoItemsViewModel("fas fa-lightbulb", "What? We have no Ideas to show! We need some ideas!");
}

@if (!Model.Any())
{
    <partial name="_ListNoItems" model="noItemsModel" />
}
else
{
    foreach (var item in Model)
    {
        <div class="col-12 bg-white brainstorm-item list-item" data-id="@item.Id" data-currentuservote="@item.CurrentUserVote">
            <div class="brainstorm-panel">
                <div class="col-12 brainstorm-icon">
                    <button type="button" class="brainstorm-button brainstorm-up" data-vote="@(VoteValue.Positive)"><i class="fa fa-arrow-alt-circle-up @(item.CurrentUserVote == VoteValue.Positive ? "text-green": string.Empty)" aria-hidden="true"></i></button>
                </div>
                <div class="col-12 brainstorm-count">
                    <span>@item.Score</span>
                </div>
                <div class="col-12 brainstorm-icon">
                    <button type="button" class="brainstorm-button brainstorm-down" data-vote="@(VoteValue.Negative)"><i class="fa fa-arrow-alt-circle-down @(item.CurrentUserVote == VoteValue.Negative ? "text-red": string.Empty)" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="brainstorm-details">
                <div class="col-12">
                    <a asp-area="" asp-controller="brainstorm" asp-action="details" asp-route-id="@item.Id" class="btnViewIdea"><h4>@item.Title</h4></a>
                </div>

                <div class="col-12">
                    <p>@item.Description</p>
                </div>
                <div class="col-12">
                    <span class="badge badge-status badge-@(item.Status.ToString().ToLower()) p-2">@SharedLocalizer[item.Status.ToDisplayName()]</span>
                </div>

                <div class="col-12 text-lowercase text-right">
                    <span class="text-muted"><span class="comment-count">@item.CommentCount</span> @SharedLocalizer["Comments"]</span>
                </div>
            </div>
        </div>
    }

}