@model CourseViewModel
@{
    Layout = null;
    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();

    var canInteract = User.Identity.IsAuthenticated;

    var backUrl = ViewData["BackUrl"] ?? Url.Action("index", "study", new { area = "learn" });
}

<div id="featurecontainer" class="col">
    <h1 class="sr-only">@ViewData["Title"]</h1>

    <div class="box bg-white">

        <div class="box-header with-border">
            <div class="float-left mr-3">
                <a href="@backUrl" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            </div>
            <h3 class="card-title">@Model.Name</h3>

            <div class="box-tools">
                <div class="btn-group">
                    <button type="button" class="btn  btn-box-tool" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu text-capitalize" x-placement="bottom-start" style="position: absolute; transform: translate3d(-67px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a asp-area="learn" asp-controller="course" asp-action="edit" asp-route-id="@Model.Id" class="dropdown-item">@SharedLocalizer["edit"]</a>

                        @if (Model.Permissions.CanDelete)
                        {
                            <a class="btn-course-delete dropdown-item" href="#" data-url="@Url.Action("delete", "course", new { area = "learn", id = Model.Id })" data-confirmationmessage="@SharedLocalizer["Are you sure you want to delete this Translation Project?"]" data-confirmationtitle="@SharedLocalizer["Are you sure?"]" data-confirmationbuttontext="@SharedLocalizer["Yes, delete it!"]" data-cancelbuttontext="@SharedLocalizer["Cancel"]">@SharedLocalizer["delete"]</a>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="box-body p-0 px-md-2">
            <div class="row">
                <div class="col-lg-8" data-id="@Model.Id">
                    <div class="box-widget widget-course">
                        <div class="overflow-hidden square-bottom">
                            <a asp-area="learn" asp-controller="course" asp-action="details" asp-route-id="@Model.Id">
                                <img data-sizes="auto" src="@Model.ThumbnailUrl" class="card-img-top img-fluid lazyload blur-up" style="width:100%" alt="@Model.Name" />
                            </a>
                        </div>

                        @if (!string.IsNullOrWhiteSpace(Model.Name))
                        {
                            <div class="box-body">
                                <div class="box-description">

                                    @if (!string.IsNullOrWhiteSpace(Model.Name))
                                    {
                                        <div class="row text-truncate">
                                            <div class="col-12">
                                                <a asp-area="learn" asp-controller="course" asp-action="details" asp-route-id="@Model.Id">
                                                    <span class="box-description-text">@Model.Name</span>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-lg-4 pl-lg-0">
                    <div class="border mb-3 p-2 bg-light">
                        <div class="row">
                            <div class="col-12">
                                <div class="user-block">
                                    <a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@Model.UserId">
                                        <img class="rounded-circle" src="@Model.AuthorPicture" alt="This is @Model.AuthorName">
                                    </a>
                                    <span class="username"><a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@Model.UserId">@SharedLocalizer["by {0}", Model.AuthorName]</a></span>
                                    <span class="description">@SharedLocalizer["at {0}", Model.CreateDate.ToString()]</span>
                                </div>
                            </div>

                            <div class="col-12">
                                <label class="col-form-label">@SharedLocalizer["{0} students enrolled", Model.Members.Count]</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label class="col-form-label">@SharedLocalizer["Skill set you will acquire in this course."]</label>
                        </div>

                        <div class="col-12">
                            @foreach (var skill in Model.SkillSet)
                            {
                                <div class="d-inline-flex mb-1">
                                    <div class="border bg-dark text-white p-1">
                                        <span>@SharedLocalizer[skill.ToDisplayName()]</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            @if (!Model.Permissions.CanEdit)
                            {
                                if (Model.Permissions.CanConnect)
                                {
                                    <button type="button" id="btnEnroll" class="btn btn-primary btn-lg btn-block" data-url="@Url.Action("enroll", "course", new { area = "learn", courseId = Model.Id })">@SharedLocalizer["Enroll"]</button>
                                }
                                else
                                {
                                    <button type="button" id="btnLeaveCourse" class="btn btn-primary btn-lg btn-block" data-url="@Url.Action("leave", "course", new { area = "learn", courseId = Model.Id })">@SharedLocalizer["Leave Course"]</button>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-12 p-4">
                    @Html.Raw(Model.Description)
                </div>
            </div>
            <div id="divPlans"></div>
        </div>
    </div>
</div>
