@model StudyCourseListItemVo

@{
    Layout = null;
}

<div class="box-widget widget-course">
    <div class="overflow-hidden square-bottom">
        <a asp-area="learn" asp-controller="course" asp-action="details" asp-route-id="@Model.Id">
            <img data-sizes="auto" src="@Model.ThumbnailUrl" class="card-img-top img-fluid lazyload blur-up" style="width:100%" alt="@Model.Name" />
        </a>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.Name))
    {
        <div class="box-body">
            <div class="box-description">

                @if (!string.IsNullOrWhiteSpace(Model.Name))
                {
                    <div class="row text-truncate">
                        <div class="col-12">
                            <a asp-area="learn" asp-controller="course" asp-action="details" asp-route-id="@Model.Id">
                                <span class="box-description-text">@Model.Name</span>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>