@model StudyCourseViewModel

@{
    Layout = null;

    var isNew = Model.Id == Guid.Empty;

    var canInteract = User.Identity.IsAuthenticated;

    ViewData["Title"] = SharedLocalizer["{0} Course", (isNew ? "New" : "Edit")];

    var workTypes = Html.GetEnumSelectList<WorkType>();

}

<h1 class="sr-only">@ViewData["Title"]</h1>

<div class="box bg-white">

    <div class="box-header with-border">
        <div class="float-left mr-3">
            <a asp-area="learn" asp-controller="study" asp-action="index" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </div>
        <h3 class="card-title">@SharedLocalizer["You are {0} a Course", (Model.Id == Guid.Empty ? SharedLocalizer["creating"] : SharedLocalizer["editing"])]</h3>
        <span class="card-subtitle">
            @SharedLocalizer["Tell us about the Course."]
        </span>

        @if (!isNew)
        {
            <div class="box-tools">
                <div class="btn-group">
                    <button type="button" class="btn  btn-box-tool" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu text-capitalize" x-placement="bottom-start" style="position: absolute; transform: translate3d(-67px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a asp-area="learn" asp-controller="course" asp-action="details" asp-route-id="@Model.Id" class="dropdown-item">@SharedLocalizer["details"]</a>

                        @if (Model.Permissions.CanDelete)
                        {
                            <a class="btnDeleteTranslationProject dropdown-item" href="#" data-url="@Url.Action("deletecourse", "study", new { area = "learn", id = Model.Id })" data-confirmationmessage="@SharedLocalizer["Are you sure you want to delete this Translation Project?"]" data-confirmationtitle="@SharedLocalizer["Are you sure?"]" data-confirmationbuttontext="@SharedLocalizer["Yes, delete it!"]" data-cancelbuttontext="@SharedLocalizer["Cancel"]">@SharedLocalizer["delete"]</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="box-body p-0 px-md-2">
        <form id="frmCourseSave" asp-area="learn" asp-controller="course" asp-action="save" method="post">
            <input type="hidden" id="caninteract" value="@canInteract.ToString().ToLower()" />
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="CreateDate" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-form-label text-capitalize">@SharedLocalizer["name"]</label>
                        <span asp-description-for="Name" class="col-form-label" />
                        <input asp-for="Name" class="form-control" aria-describedby="Name-description" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Description" class="col-form-label"></label>
                        <span asp-description-for="Description" class="col-form-label" />
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12">
                    <label asp-for="SkillSet" class="col-form-label"></label>
                    <span asp-description-for="SkillSet" class="col-form-label" />
                    <select asp-for="SkillSet" asp-items="workTypes" class="form-control select2" multiple="" data-placeholder="@SharedLocalizer["Select the skills you are teaching in this course"]" tabindex="-1" aria-hidden="true"></select>
                    <span asp-validation-for="SkillSet" class="text-danger"></span>
                </div>


                <div class="col-12 col-lg-6 offset-lg-6 col-xl-4 offset-xl-8 mt-1">
                    <button type="button" id="btnSaveCourse" class="btn btn-lg btn-primary btn-block" data-error-msg="<i class='fas fa-exclamation-circle' aria-hidden='true'></i> @SharedLocalizer["Something is missing!"]"><i class="fas fa-save" aria-hidden="true"></i> @SharedLocalizer["Save Course"]</button>
                </div>
            </div>
        </form>

        @if (!isNew)
        {
            <div class="row">
                <div class="col-12">
                    xxx
                </div>
            </div>
        }
    </div>
</div>