@model StudyCourseListItemVo

@{
    Layout = null;
}

<a asp-area="learn" asp-controller="course" asp-action="details" asp-route-id="@Model.Id" asp-route-backUrl="@ViewData["BackUrl"]">
    <div class="box p-0 bg-white hover">
        <div class="cardborder-0">
            <img data-sizes="auto" src="@Model.ThumbnailUrl" class="card-img-top img-fluid lazyload" style="width:100%" alt="@Model.Name" />
            <div class="card-body p-0">
                <div class="box-body">
                    @if (!string.IsNullOrWhiteSpace(Model.Name))
                    {
                        <div class="box-description">

                            @if (!string.IsNullOrWhiteSpace(Model.Name))
                            {
                                <div class="row text-truncate">
                                    <div class="col-12">
                                        <span class="box-description-text">@Model.Name</span>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                    <div class="float-right">
                        <div class="bg-aqua p-1">
                            $20.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
