@model IEnumerable<StudyPlanViewModel>

@{
    Layout = null;
    var noItemsModel = new ListNoItemsViewModel("fas fa-dizzy", "You haven't added any plan for this course yet!");

    var description = ViewData["ListDescription"] == null ? SharedLocalizer["plans"] : (string)ViewData["ListDescription"];
}

@if (!Model.Any())
{
    <div id="divNoItems">
        <partial name="_ListNoItems" model="noItemsModel" />
    </div>
}
else
{
    foreach (var plan in Model)
    {
        <div class="card m-0 mt-2 m-md-2 mb-2 border no-gutters studyplan">
            <input type="hidden" id="Placeholder_0__Id" name="Placeholder[0].Id" value="@plan.Id" />
            <input type="hidden" id="Placeholder_0__CreateDate" name="Placeholder[0].CreateDate" value="@plan.CreateDate" />
            <input type="hidden" id="Placeholder_0__UserId" name="Placeholder[0].UserId" value="@plan.UserId" />
            <div class="col-12 position-absolute text-right item-actions">
                <button class="btn btn-sm btn-default btn-collapse" aria-hidden="true">
                    <i class="fas fa-fw fa-chevron-down" data-icon-alternate="fas fa-chevron-up" aria-hidden="true"></i>
                </button>
                <button class="btn btn-sm btn-danger btn-plan-delete" aria-hidden="true"><i class="fas fa-fw fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="card-header bg-light square-bottom">
                <i class="fas fa-arrows-alt handle" aria-hidden="true"></i>
                <input type="text" id="Placeholder_0__Name" name="Placeholder[0].Name" class="form-control" placeholder="Type here the name of this study plan" value="@plan.Name" />
            </div>

            <div class="collapse">
                <div class="card-body square-top">
                    <div class="col-12">
                        <label class="col-form-label">@Html.LabelFor(x => x.First().Description)</label>
                        <textarea id="Placeholder_0__Description" name="Placeholder[0].Description" class="form-control">@plan.Description</textarea>
                    </div>
                    <div class="col-12">
                        <label class="col-form-label">@Html.LabelFor(x => x.First().ScoreToPass)</label>
                        <input type="range" min="0" max="10" step=".5" id="Placeholder_0__ScoreToPass" name="Placeholder[0].ScoreToPass" class="form-control" value="@plan.ScoreToPass" />
                    </div>
                </div>
            </div>
        </div>
    }
}

