@model IEnumerable<StudyPlanViewModel>

@{
    Layout = null;
    var noItemsModel = new ListNoItemsViewModel("fas fa-dizzy", "No Plans for this course!");

    var description = ViewData["ListDescription"] == null ? SharedLocalizer["plans"] : (string)ViewData["ListDescription"];
}

<hr />

<div class="col-12">
    <h2>@SharedLocalizer[description]</h2>
</div>

@if (!Model.Any())
{
    <div id="divNoItems">
        <partial name="_ListNoItems" model="noItemsModel" />
    </div>
}
else
{
    <div id="accordion">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var plan = Model.ElementAt(i);

            <div class="card @(i < Model.Count() - 1 ? "square-bottom" : String.Empty) @(i > 0 ? "square-top" : String.Empty)">
                <div class="card-header square-bottom" id="heading@(plan.Id)" data-toggle="collapse" data-target="#collapse@(plan.Id)" aria-expanded="true" aria-controls="collapse@(plan.Id)">
                    <h5 class="mb-0">
                        @plan.Name
                    </h5>
                </div>

                <div id="collapse@(plan.Id)" class="collapse @(i == 0 ? "show" : String.Empty)" aria-labelledby="heading@(plan.Id)" data-parent="#accordion">
                    <div class="card-body square-top">
                        @plan.Description
                    </div>
                </div>
            </div>
        }
    </div>
}
