@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = SharedLocalizer["Log in"];
    ViewData["CanonicalUrl"] = "https://www.indievisible.net/account/login/";
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}

<div class="login-box">
    <h1 class="sr-only">@ViewData["Title"]</h1>
    <div class="login-logo">
        <a asp-area="" asp-controller="home" asp-action="index">
            <span><img src="~/images/logo360w.png" class="embed-responsive" alt=""></span>
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">@SharedLocalizer["Sign in to start your session"]</p>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">@SharedLocalizer["Invalid login! Keep calm and try again!"]</div>
        }


        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-element" autocomplete="off">
            <div class="form-group has-feedback">
                <input asp-for="UserName" class="form-control" placeholder="@SharedLocalizer["UserName"]">
                <span class="fas fa-user form-control-feedback"></span>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Password" type="password" class="form-control" placeholder="@SharedLocalizer["Password"]">
                <span class="fas fa-key form-control-feedback"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="checkbox">
                        <input asp-for="RememberMe"/>
                        <label asp-for="RememberMe">@SharedLocalizer["Remember Me"]</label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-6">
                    <div class="fog-pwd">
                        <a asp-area="" asp-controller="account" asp-action="forgotpassword"><i class="fas fa-lock" aria-hidden="true"></i>@SharedLocalizer["Forgot pwd?"]</a><br>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-success btn-block btn-flat mt-2">@SharedLocalizer["SIGN IN"]</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center">
            <p>
                - @SharedLocalizer["OR"] -
            </p>
            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <button type="submit" class="btn btn-social-icon btn-circle btn-facebook" name="provider" value="Facebook" title="@SharedLocalizer["Log in using your Facebook account"]"><i class="fab fa-facebook-f" aria-hidden="true"></i></button>
                <button type="submit" class="btn btn-social-icon btn-circle btn-google" name="provider" value="Google" title="@SharedLocalizer["Log in using your Google account"]"><i class="fab fa-google-plus-g" aria-hidden="true"></i></button>
                <button type="submit" class="btn btn-social-icon btn-circle btn-microsoft" name="provider" value="Microsoft" title="@SharedLocalizer["Log in using your Microsoft account"]"><i class="fab fa-microsoft" aria-hidden="true"></i></button>
            </form>
        </div>
        <!-- /.social-auth-links -->

        <div class="mt-3 text-center">
            <p>@SharedLocalizer["Don't have an account?"]<a asp-area="" asp-controller="account" asp-action="register" class="text-info m-l-5"> @SharedLocalizer["Sign Up"]</a></p>
            <p>@SharedLocalizer["Don't want to Log In?"]<a asp-area="" asp-controller="home" asp-action="index" class="text-info m-l-5"> @SharedLocalizer["Continue browsing"]</a></p>
        </div>

    </div>
    <!-- /.login-box-body -->
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}