@model LocalizationViewModel
@{
    Layout = null;
    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;
}

<partial name="_GameCard" model="Model.Game" />

<div class="row">
    <div class="col-12">
        <a asp-area="tools" asp-controller="localization" asp-action="details" asp-route-id="@Model.Id" title="@SharedLocalizer["Help this one!"]">
            <div class="translation-progress-chart text-center">
                <partial name="_DonutPercentageChart" model="new DonutChartViewModel(Model.TranslationPercentage)" />
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col text-left pr-0">
        <span class="text-muted">@SharedLocalizer[Model.PrimaryLanguage.ToDisplayName()]</span>
    </div>
    <div class="col text-right pl-0">
        <span class="text-muted"><span class="comment-count">@Model.TermCount</span> @(Model.TermCount == 1 ? SharedLocalizer["term"] : SharedLocalizer["terms"])</span>
    </div>
</div>