@model PostFromHomeViewModel
@{
    Layout = null;
}

<div class="box p-0 mb-2">
    <div class="box-body p-0">
        <div class="commentmodal">
            <div class="" tabindex="-1" role="dialog" id="modalPost">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header d-none">
                            <h5 class="modal-title">@SharedLocalizer["create post"]</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="#" method="post">
                                <input type="hidden" id="txtPostImages" />
                                <img class="img-fluid rounded-circle img-sm" src="@ViewBag.ProfileImage" alt="Alt Text">
                                <div class="img-push simplecontentpostarea">
                                    <textarea id="txtPostContent" aria-label="@SharedLocalizer["Comment"]" class="form-control posttextarea input-sm postbox" rows="1" placeholder="@SharedLocalizer["What is on your mind?"]"></textarea>
                                    <div class="comment-send-button">
                                        <button type="button" role="button" aria-label="@SharedLocalizer["Post Content"]" id="btnSendSimpleContent" class="btn bg-transparent"><i class="fa fa-2x fa-paper-plane" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["Click here to send your new post."]"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer d-none">
                            <div>
                                <div class="form-inline">
                                    <button type="button" id="btnPostAddImage" class="btn btn-default btn-vertical-align" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["image"]"><i class="far fa-fw fa-images" aria-hidden="true"></i></button>
                                    <button type="button" id="btnPostAddPoll" class="btn btn-default btn-vertical-align mx-1" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["poll"]"><i class="fas fa-fw fa-poll" aria-hidden="true"></i></button>

                                    <select asp-for="DefaultLanguage" asp-items="Html.GetEnumSelectList<SupportedLanguage>()" id="postlanguage" class="form-control w-auto" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["Choose the language you are posting now."]"></select>
                                </div>
                                <div id="divPostImages" class="dropzone">
                                    <div class="dz-message needsclick">
                                        @SharedLocalizer["Drop files here or click to upload."]<br>
                                        <span class="note needsclick">
                                            (@SharedLocalizer["only image files"])
                                        </span>
                                    </div>
                                </div>
                                <div id="divPostPoll">
                                    <div class="input-group mt-2 polloption">
                                        <input type="text" class="form-control polloptioninput" placeholder="@SharedLocalizer["add option..."]" aria-label="@SharedLocalizer[" add option..."]">
                                        <div class="input-group-append">
                                            <button class="input-group-text btn-image-add">
                                                &nbsp;
                                            </button>
                                        </div>
                                        <button class="btn btn-lg bg-transparent btn-option-remove invisible"><i class="fas fa-times" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="input-group mt-2 polloption">
                                        <input type="text" class="form-control polloptioninput" placeholder="@SharedLocalizer["add option..."]" aria-label="@SharedLocalizer["add option..."]">
                                        <div class="input-group-append">
                                            <button class="input-group-text btn-image-add">
                                                &nbsp;
                                            </button>
                                        </div>
                                        <button class="btn btn-lg bg-transparent btn-option-remove invisible"><i class="fas fa-times" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="mt-2">
                                        <button id="btnAddOption" class="btn bg-transparent"><i class="fas fa-plus" aria-hidden="true"></i> @SharedLocalizer["add option"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>