@{
    ViewData["Title"] = null;

    var postModel = ViewBag.PostFromHome as PostFromHomeViewModel;

    var joinUsViewModel = new HomeSquareViewModel("account", "login", "bg-purple", "far fa-3x fa-smile", SharedLocalizer["Join us!"]);
}

<h1 class="sr-only">INDIEVISIBLE - Home</h1>

<div class="col-xl-2 d-none d-lg-block">
    <div class="row">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="col-12 d-none d-xl-block">
                <partial name="_HomeSquare" model="joinUsViewModel" />
            </div>
        }
        <div class="col-12">
            <div id="divCounters"></div>
        </div>
    </div>
</div>

<div class=" col-lg-8 col-xl-7 pr-lg-2 pl-xl-2 pr-xl-2">

    <environment include="Development"><div class="text-center position-absolute w-100 text-white" style="z-index:9999;top:-45px;margin-left: 50px;margin-right: 50px;">dev</div></environment>
    <environment include="Staging"><div class="text-center position-absolute w-100 text-white" style="z-index:9999;top:-45px;margin-left: 50px;margin-right: 50px;">staging</div></environment>

    @await Html.PartialAsync("_Carousel", ViewBag.Carousel as CarouselViewModel)

    @if (User.Identity.IsAuthenticated)
    {
        @await Html.PartialAsync("_PostFromHome", ViewBag.PostFromHome as PostFromHomeViewModel)
    }

    <div class="row">
        <div class="col-12">
            <div id="divActivityFeed"></div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-xl-3">
    <div class="row">
        <div class="col-12">
            <div id="divLatestGames"></div>
        </div>
        @if (postModel.DefaultLanguage == SupportedLanguage.Portuguese)
        {
            <div class="col-12 d-xl-none">
                <div class="flex-square clickable rectangle bg-patreon">
                    <div class="flex-square-inner">
                        <a href="https://apoia.se/indievisible" target="_blank" rel="noopener noreferrer">
                            <div class="flex-square-inner-content text-white">
                                <div><i class="fas fa-3x fa-dollar-sign" aria-hidden="true"></i></div>
                                <div>@SharedLocalizer["apoie"]</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }

        <div class="col-12 mt-3">
            <partial name="_TagList" model="@ViewData["Genres"]" />
        </div>

        <div class="col-12 mt-3">
            <partial name="_InfoBox" />
        </div>
    </div>
</div>
@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/home.css" />
        <link rel="stylesheet" href="~/css/polls.css" />
        <link rel="stylesheet" href="~/lib/dropzone/dropzone.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/home.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css"
              asp-fallback-href="~/lib/dropzone/min/dropzone.min.css"
              asp-fallback-test-class="dropzone"
              asp-fallback-test-property="box-sizing"
              asp-fallback-test-value="border-box"
              integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g=" crossorigin="anonymous">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/lib/embedo/embedo.js"defer></script>
        <script src="~/lib/dropzone/dropzone.js" defer></script>
        <script src="~/js/shared/contentactions.js" defer></script>
        <script src="~/js/shared/polls.js" defer></script>
        <script src="~/js/shared/activityfeed.js" defer></script>
        <script src="~/js/home/home.js" defer></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/embedo/1.12.0/embedo.min.js"
                asp-fallback-src="~/lib/embedo/embedo.min.js"
                asp-fallback-test="window.Embedo"
                integrity="sha256-LMEyTMVe0/kFslU26YYottuAm+12r5/5ButJGqOdt8Y="
                crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"
                asp-fallback-src="~/lib/dropzone/min/dropzone.min.js"
                asp-fallback-test="window.Dropzone"
                integrity="sha256-cs4thShDfjkqFGk5s2Lxj35sgSRr4MRcyccmi0WKqCM="
                crossorigin="anonymous" defer>
        </script>

        <script src="~/js/home/home.min.js" asp-append-version="true" defer></script>
    </environment>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "WebSite",
        "name": "@ConstantHelper.DefaultTitle",
        "alternateName": "IndieVisible",
        "url": "@(ViewBag.BaseUrl)",
        "sameAs" : ["https://www.facebook.com/indievisiblenet/"],
        "image": "@(ViewBag.BaseUrl)/images/og/img_facebook600x315.png",
        "author": {
        "@@type": "Person",
        "name": "Daniel Gomes",
        "email": "programad@gmail.com",
        "image": "@(ViewBag.BaseUrl)/images/profileimages/programad.jpg"
        }
        }
    </script>
}