@{
    ViewData["Title"] = null;
}

<h1 class="sr-only">INDIEVISIBLE - Home</h1>

<div class="col-xl-2 hidden-md-down">
    <div class="row">
        <div class="col-12 hidden-lg-down">
            <div class="flex-square clickable rectangle bg-purple">
                <div class="flex-square-inner">
                    <a asp-area="" asp-controller="home" asp-action="about">
                        <div class="flex-square-inner-content text-white">
                            <div><i class="fa fa-3x fa-question" aria-hidden="true"></i></div>
                            <div>@SharedLocalizer["What is this"]</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div id="divCounters"></div>
        </div>
        <div class="col-12 hidden-lg-down">
            <div class="flex-square clickable rectangle bg-primary">
                <div class="flex-square-inner">
                    <a asp-area="" asp-controller="home" asp-action="timeline">
                        <div class="flex-square-inner-content text-white">
                            <div><i class="far fa-3x fa-calendar" aria-hidden="true"></i></div>
                            <div>@SharedLocalizer["Roadmap"]</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 hidden-lg-down">
            <div class="flex-square clickable rectangle bg-patreon">
                <div class="flex-square-inner">
                    <a href="https://www.patreon.com/indievisible" target="_blank">
                        <div class="flex-square-inner-content text-white">
                            <div><i class="fab fa-3x fa-patreon" aria-hidden="true"></i></div>
                            <div>@SharedLocalizer["be a Patron"]</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" col-lg-8 col-xl-7 pr-lg-2 pl-xl-2 pr-xl-2">
    @await Html.PartialAsync("_Carousel", ViewBag.Carousel as CarouselViewModel)
    @if (User.Identity.IsAuthenticated)
    {
        <div class="box p-0 mb-10">
            <div class="box-body p-0">
                <div class="commentmodal">
                    <div class="" tabindex="-1" role="dialog" id="modalPost">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">@SharedLocalizer["create post"]</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="#" method="post">
                                        <input type="hidden" id="txtPostImages" />
                                        <img class="img-fluid rounded-circle img-sm" src="@ViewBag.ProfileImage" alt="Alt Text">
                                        <div class="img-push simplecontentpostarea">
                                            <textarea id="txtPostContent" aria-label="@SharedLocalizer["Comment"]" class="form-control posttextarea input-sm postbox" rows="1" placeholder="@SharedLocalizer["What is on your mind?"]"></textarea>
                                            <div class="float-right comment-send-button">
                                                <button type="button" role="button" aria-label="@SharedLocalizer["Post Content"]" id="btnSendSimpleContent" class="btn bg-transparent"><i class="fa fa-2x fa-paper-plane" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div>
                                        <button type="button" id="btnPostAddImage" class="btn btn-default btn-vertical-align"><i class="far fa-images" aria-hidden="true"></i> <span>@SharedLocalizer["image"]</span></button>
                                        <button type="button" id="btnPostAddPoll" class="btn btn-default btn-vertical-align"><i class="fas fa-poll" aria-hidden="true"></i> <span>@SharedLocalizer["poll"]</span></button>
                                        <div id="divPostImages" class="dropzone">
                                            <div class="dz-message needsclick">
                                                @SharedLocalizer["Drop files here or click to upload."]<br>
                                                <span class="note needsclick">
                                                    (@SharedLocalizer["only image files"])
                                                </span>
                                            </div>
                                        </div>
                                        <div id="divPostPoll">
                                            <div class="input-group input-group-lg mt-2">
                                                <input type="text" class="form-control input-lg" placeholder="@SharedLocalizer["add option..."]" aria-label="@SharedLocalizer[" add option..."]">
                                                <div class="input-group-append">
                                                    <button class="input-group-text btn-image-add">
                                                        <i class="fas fa-image" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <button class="btn btn-lg bg-transparent btn-option-remove"><i class="fas fa-2x fa-times" aria-hidden="true"></i></button>
                                            </div>
                                            <div class="input-group input-group-lg mt-2">
                                                <input type="text" class="form-control input-lg" placeholder="@SharedLocalizer["add option..."]" aria-label="@SharedLocalizer["add option..."]">
                                                <div class="input-group-append">
                                                    <button class="input-group-text btn-image-add">
                                                        <i class="fas fa-image" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <button class="btn btn-lg bg-transparent btn-option-remove"><i class="fas fa-2x fa-times" aria-hidden="true"></i></button>
                                            </div>
                                            <div class="mt-2">
                                                <button id="btnAddOption" class="btn bg-transparent"><i class="fas fa-plus" aria-hidden="true"></i> @SharedLocalizer["add option"]</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }

    <div class="row">
        <div class="col-12">
            <div id="divActivityFeed"></div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-xl-3">
    <div class="row">
        <div class="col-12">
            <div id="divLatestGames"></div>
        </div>

        <div class="col-12 hidden-xl-up">
            <div class="flex-square clickable rectangle bg-purple">
                <div class="flex-square-inner">
                    <a asp-area="" asp-controller="home" asp-action="about">
                        <div class="flex-square-inner-content text-white">
                            <div><i class="fa fa-3x fa-question" aria-hidden="true"></i></div>
                            <div>@SharedLocalizer["What is this"]</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 hidden-xl-up">
            <div class="flex-square clickable rectangle bg-primary">
                <div class="flex-square-inner">
                    <a asp-area="" asp-controller="home" asp-action="timeline">
                        <div class="flex-square-inner-content text-white">
                            <div><i class="far fa-3x fa-calendar" aria-hidden="true"></i></div>
                            <div>@SharedLocalizer["Roadmap"]</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 hidden-xl-up">
            <div class="flex-square clickable rectangle bg-patreon">
                <div class="flex-square-inner">
                    <a href="https://www.patreon.com/indievisible" target="_blank">
                        <div class="flex-square-inner-content text-white">
                            <div><i class="fab fa-3x fa-patreon" aria-hidden="true"></i></div>
                            <div>@SharedLocalizer["be a Patron"]</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 margin-top-30">
            @await Html.PartialAsync("_TagList", ViewData["Genres"])
        </div>
    </div>
</div>
@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/home.css" />
        <link rel="stylesheet" href="~/lib/dropzone/dropzone.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/home.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/dropzone/min/dropzone.min.css" />
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/lib/dropzone/dropzone.js"></script>
        <script src="~/js/shared/contentactions.js"></script>
        <script src="~/js/home/homepage.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home.min.js"></script>
    </environment>
    <script>
        Dropzone.autoDiscover = false;
    </script>
    <script src="~/lib/embedo/embedo.js"></script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "WebSite",
        "name": "INDIEVISIBLE - The Indie Game Developers Community",
        "alternateName": "IndieVisible",
        "url": "@(ViewBag.BaseUrl)",
        "sameAs" : ["https://www.facebook.com/indievisiblenet/"],
        "image": "@(ViewBag.BaseUrl)/images/og/img_facebook600x315.png",
        "author": {
        "@@type": "Person",
        "name": "Daniel Gomes",
        "email": "programad@gmail.com",
        "image": "@(ViewBag.BaseUrl)/images/profileimages/programad.jpg"
        }
        }
    </script>
}
