@{
    ViewData["Title"] = null;

    var postModel = ViewBag.PostFromHome as PostFromHomeViewModel;

    var joinUsViewModel = new HomeSquareViewModel("account", "register", "bg-purple", "far fa-3x fa-smile", SharedLocalizer["Join us!"]);
}

<h1 class="sr-only">INDIEVISIBLE - Home</h1>

<div class="col-xl-2 d-none d-lg-block">
    <div class="row">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="col-12 d-none d-xl-block">
                <partial name="_HomeSquare" model="joinUsViewModel" />
            </div>
        }
        <div class="col-12">
            <div id="divCounters"></div>
        </div>
        @if (postModel.DefaultLanguage == SupportedLanguage.Portuguese)
        {
            <div class="col-12 d-none d-xl-block">
                <div class="flex-square clickable rectangle bg-patreon">
                    <div class="flex-square-inner">
                        <a href="https://apoia.se/indievisible" target="_blank" rel="noopener noreferrer">
                            <div class="flex-square-inner-content text-white">
                                <div><i class="fas fa-3x fa-dollar-sign" aria-hidden="true"></i></div>
                                <div>@SharedLocalizer["apoie"]</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class=" col-lg-8 col-xl-7 pr-lg-2 pl-xl-2 pr-xl-2">
    @await Html.PartialAsync("_Carousel", ViewBag.Carousel as CarouselViewModel)

    @if (User.Identity.IsAuthenticated)
    {
        @await Html.PartialAsync("_PostFromHome", ViewBag.PostFromHome as PostFromHomeViewModel)
    }

    <div class="row">
        <div class="col-12">
            <div id="divActivityFeed"></div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-xl-3">
    <div class="row">
        <div class="col-12">
            <div id="divLatestGames"></div>
        </div>
        @if (postModel.DefaultLanguage == SupportedLanguage.Portuguese)
        {
            <div class="col-12 d-xl-none">
                <div class="flex-square clickable rectangle bg-patreon">
                    <div class="flex-square-inner">
                        <a href="https://apoia.se/indievisible" target="_blank" rel="noopener noreferrer">
                            <div class="flex-square-inner-content text-white">
                                <div><i class="fas fa-3x fa-dollar-sign" aria-hidden="true"></i></div>
                                <div>@SharedLocalizer["apoie"]</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }

        <div class="col-12 mt-3">
            <partial name="_TagList" model="@ViewData["Genres"]" />
        </div>

        <div class="col-12 mt-3">
            <partial name="_InfoBox" />
        </div>
    </div>
</div>
@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/home.css" />
        <link rel="stylesheet" href="~/css/polls.css" />
        <link rel="stylesheet" href="~/lib/dropzone/dropzone.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/home.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/dropzone/min/dropzone.min.css" asp-append-version="true" />
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/lib/dropzone/dropzone.js"></script>
        <script src="~/js/shared/contentactions.js"></script>
        <script src="~/js/shared/polls.js"></script>
        <script src="~/js/shared/activityfeed.js"></script>
        <script src="~/js/home/home.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home/home.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        Dropzone.autoDiscover = false;
    </script>
    <script src="~/lib/embedo/embedo.js"></script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "WebSite",
        "name": "@ConstantHelper.DefaultTitle",
        "alternateName": "IndieVisible",
        "url": "@(ViewBag.BaseUrl)",
        "sameAs" : ["https://www.facebook.com/indievisiblenet/"],
        "image": "@(ViewBag.BaseUrl)/images/og/img_facebook600x315.png",
        "author": {
        "@@type": "Person",
        "name": "Daniel Gomes",
        "email": "programad@gmail.com",
        "image": "@(ViewBag.BaseUrl)/images/profileimages/programad.jpg"
        }
        }
    </script>
}
