@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = SharedLocalizer["Manage your preferences"];
}
<div class="col-xl-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3>@ViewData["Title"]</h3>
            <h4>@ViewData["SubTitle"]</h4>
        </div>

        <div class="box-body">
            <div>
                <div class="row">
                    <div class="col-md-3">
                        @await Html.PartialAsync("_ManageNav")
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ComponentStyles {
    @RenderSection("ComponentStyles", required: false)
}
@section Scripts {
    @RenderSection("Scripts", required: false)
}

