@using IndieVisible.Web.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="vtabs customvtab col-xl-12 col-md-12">
    <ul class="nav nav-tabs tabs-vertical" role="tablist">
        <li class="nav-item @ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index" class="nav-link show @(ManageNavPages.CheckActivePageClass(ManageNavPages.Index))">@SharedLocalizer["Profile"]</a></li>
        <li class="nav-item @ManageNavPages.LanguagesNavClass(ViewContext)"><a asp-action="Languages" class="nav-link @(ManageNavPages.CheckActivePageClass(ManageNavPages.Languages))">@SharedLocalizer["Language"]</a></li>
        <li class="nav-item @ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword" class="nav-link @(ManageNavPages.CheckActivePageClass(ManageNavPages.ChangePassword))">@SharedLocalizer["Password"]</a></li>
        @if (hasExternalLogins)
        {
            <li class="nav-item @ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-action="ExternalLogins" class="nav-link @(ManageNavPages.CheckActivePageClass(ManageNavPages.ExternalLogins))">@SharedLocalizer["External logins"]</a></li>
        }
        <li class="nav-item @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication" class="nav-link @(ManageNavPages.CheckActivePageClass(ManageNavPages.TwoFactorAuthentication))">@SharedLocalizer["Two-factor authentication"]</a></li>
    </ul>
</div>

