@model UserPreferencesViewModel

@{
    ViewData["Title"] = "Preferences";
}

<div class="col-xl-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="card-title">@SharedLocalizer["Configure my experience"]</h3>
        </div>

        <div class="box-body p-0 p-md-10">
            <div class="vtabs customvtab col-xl-12 col-md-12">
                <ul class="nav nav-tabs tabs-vertical" role="tablist">
                    <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#tabgeneral" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ion-md-cog" aria-hidden="true"></i></span> <span class="hidden-xs-down">@SharedLocalizer["General"]</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tabpassword" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ion-md-key" aria-hidden="true"></i></span> <span class="hidden-xs-down">@SharedLocalizer["Password"]</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#linkedAccounts" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ion-md-link" aria-hidden="true"></i></span> <span class="hidden-xs-down">@SharedLocalizer["Oauth"]</span></a> </li>
                </ul>

                <div class="tab-content p-0">
                    <div class="tab-pane pad active show p-0" id="tabgeneral" role="tabpanel">

                        <form id="frmPreferencesSave" asp-area="member" asp-controller="preferences" asp-action="save" method="POST">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="UserId" />
                            <input type="hidden" asp-for="CreateDate" />
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="UiLanguage"></label>
                                    <select asp-for="UiLanguage" asp-items="Html.GetEnumSelectList<SupportedLanguage>()" class="form-control">
                                        <option selected="selected" value="">Select</option>
                                    </select>
                                    <span asp-validation-for="UiLanguage" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="Languages"></label>
                                    <select asp-for="Languages" asp-items="Html.GetEnumSelectList<SupportedLanguage>()" class="form-control select2" multiple="" data-placeholder="Select the Languages" style="width: 100%;" tabindex="-1" aria-hidden="true"></select>
                                </div>
                            </div>

                            <div class="text-right">
                                <button type="button" id="btnUserPreferencesSave" class="btn btn-info"><i class="fas fa-save" aria-hidden="true">&nbsp;</i>@SharedLocalizer["Save"]</button>
                            </div>

                        </form>
                    </div>

                    <div class="tab-pane pad p-0" id="tabpassword" role="tabpanel">
                        <div class="col-xl-6 col-md-12">

                            <form id="frmChangePassword" asp-area="" asp-controller="account" asp-action="save" method="POST">
                                <div class="form-group">
                                    <label for="oldPassword">My old password</label>
                                    <input type="password" class="form-control" id="oldPassword" placeholder="Type your old password here">
                                </div>
                                <div class="form-group">
                                    <label for="newPassword">My new password</label>
                                    <input type="password" class="form-control" id="newPassword" placeholder="Type it, here!">
                                </div>
                                <div class="form-group">
                                    <label for="newPasswordConfirmation">My new password, AGAIN!</label>
                                    <input type="password" class="form-control" id="newPasswordConfirmation" placeholder="Your password, again...">
                                </div>

                                <div class="row">
                                    <button type="button" id="btnChangePassword" class="btn btn-block btn-danger btn-lg">@SharedLocalizer["Change my password"]</button>
                                </div>
                            </form>

                        </div>
                    </div>


                    <div class="tab-pane pad p-0" id="linkedAccounts" role="tabpanel">
                        <div class="row">
                            <div class="col-xl-6 col-md-12 col-12">
                                <div class="info-box bg-facebook">
                                    <span class="info-box-icon push-bottom"><i class="fab fa-facebook-f" aria-hidden="true"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Facebook</span>
                                        <div class="block">
                                            &nbsp;
                                        </div>
                                        <div class="block">
                                            &nbsp;
                                        </div>
                                        <button type="button" class="btn btn-lg btn-block btn-default bg-transparent text-white notimplemented">@SharedLocalizer["Unlink"]</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-md-12 col-12">
                                <div class="info-box bg-red-active">
                                    <span class="info-box-icon push-bottom"><i class="fab fa-google-plus-g" aria-hidden="true"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Google+</span>
                                        <div class="block">
                                            &nbsp;
                                        </div>
                                        <div class="block">
                                            &nbsp;
                                        </div>
                                        <button type="button" class="btn btn-lg btn-block btn-default bg-transparent text-white notimplemented">@SharedLocalizer["Link"]</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-md-12 col-12">
                                <div class="info-box bg-light-blue">
                                    <span class="info-box-icon push-bottom"><i class="fab fa-twitter" aria-hidden="true"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Twitter</span>
                                        <div class="block">
                                            &nbsp;
                                        </div>
                                        <div class="block">
                                            &nbsp;
                                        </div>
                                        <button type="button" class="btn btn-lg btn-block btn-default bg-transparent text-white notimplemented">@SharedLocalizer["Link"]</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-md-12 col-12">
                                <div class="info-box bg-yellow">
                                    <span class="info-box-icon push-bottom"><i class="fab fa-windows" aria-hidden="true"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Microsoft</span>
                                        <div class="block">
                                            &nbsp;
                                        </div>
                                        <div class="block">
                                            &nbsp;
                                        </div>
                                        <button type="button" class="btn btn-lg btn-block btn-default bg-transparent text-white notimplemented">@SharedLocalizer["Link"]</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


@section ComponentStyles {
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css">
}

@section Scripts {
    <script src="~/lib/select2/js/select2.full.min.js"></script>

    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="~/js/userpreferences/userpreferences.js"></script>
}